<!DOCTYPE html>
<html>
<head>
    <% include ./../../partials/head %>
</head>
<body class="margin-bottom-200">
	<% include ./../../partials/header %>
	<% include ./../../partials/nav %>

	<!-- Path and info -->
	<section class="container">
		<p class="em08 underline-link padding-5 pointer">J.A Rio Militar > E-commerce > Perguntas e respostas ML</p>

		<div class="box b1 padding-5 underline">
			<h4>Documentação Geral</h4>
			<h3>E-commerce - Perguntas e respostas Mercado Livre</h3>
			<p class="em09 margin-top-5">Prazos e metas para perguntas e respostas</p>
		</div>
	</section>

	<!-- Metas por tempo médio -->
	<section id="processos-gerais" class="container margin-top-25 padding-5 h-center">
		<div class="box b11-12 em13 underline lucida-grande bold">Metas por tempo médio</div>
	</section>

	<!-- Seg a sex, das 9 às 18h -->
	<section id="time-1" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">1 - Seg a sex, das 9 às 18h</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('time-1-goal', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="time-1-goal" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<p class="padding-5">Tempo médio 0h a 1h - <b>R$100,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 1h a 2hs - <b>R$50,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 2h a 3hs - <b>R$37,50/conta/mês</b></p>
				<p class="padding-5">Tempo médio 3h a 4hs - <b>R$25,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 4h a 5hs - <b>R$12,50/conta/mês</b></p>
			</div>
		</div>
	</section>

	<!-- Seg a sex, das 18 às 00h -->
	<section id="time-2" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">2 - Seg a sex, das 18 às 00h</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('time-2-goal', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="time-2-goal" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<p class="padding-5">Tempo médio 0h a 1h - <b>R$100,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 1h a 2hs - <b>R$50,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 2h a 3hs - <b>R$37,50/conta/mês</b></p>
				<p class="padding-5">Tempo médio 3h a 4hs - <b>R$25,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 4h a 5hs - <b>R$12,50/conta/mês</b></p>
			</div>
		</div>
	</section>

	<!-- Sábado e domingo -->
	<section id="time-3" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">3 - Sábado e domingo</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('time-3-goal', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="time-3-goal" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<p class="padding-5">Tempo médio 0h a 2hs - <b>R$100,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 3h a 6hs - <b>R$50,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 6h a 10hs - <b>R$37,50/conta/mês</b></p>
				<p class="padding-5">Tempo médio 10h a 15hs - <b>R$25,00/conta/mês</b></p>
				<p class="padding-5">Tempo médio 15h a 20hs - <b>R$12,50/conta/mês</b></p>
			</div>
		</div>
	</section>
</body>
<footer>
	<% include ./../../partials/footer %>
</footer>
</html>