<!DOCTYPE html>
<html>
<head>
    <% include ./../../partials/head %>
</head>
<body class="margin-bottom-200">
	<% include ./../../partials/header %>
	<% include ./../../partials/nav %>

	<!-- Path and info -->
	<section class="container">
		<p class="em08 underline-link padding-5 pointer">J.A Rio Militar > E-commerce > Coleta de informações</p>

		<div class="box b1 padding-5 underline">
			<h4>Documentação Geral</h4>
			<h3>E-commerce - Coleta de informações</h3>
			<p class="em09 margin-top-5">Processos e horários para coleta das informações das plataformas de venda online.</p>
		</div>
	</section>

	<!-- Processos gerais -->
	<section id="processos-gerais" class="container margin-top-25 padding-5 h-center">
		<div class="box b11-12 em13 underline lucida-grande bold">Processos gerais</div>
	</section>

	<!-- Cadastrar no ERP -->
	<section id="erp" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">1 - Cadastrar pedido no ERP</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('erp-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="erp-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<p class="padding-5">1.1 - Realizar Login na plataforma <a class="underline-link" onclick="lib.openExternalLink('erpjariomilitar.com')">ERP</a>.</p>
				<p class="padding-5">1.2 - Seguir o caminho <b class="lucida-grande italic">Menu > E-commerce > Nova venda</b></p>
				<p class="padding-5">1.3 - Selecione a plataforma por onde a venda foi realizada</p>
				<p class="padding-5">1.4 - Inclua o código da venda</p>
				<p class="padding-5">1.5 - Selecione a data em que a compra foi realizada de acordo com o dia e hora informado pela plataforma da venda</p>
				<p class="padding-5">1.6 - Selecione o usuário do cliente de acordo com a plataforma (Caso a plataforma não forneça nome de usuário, repita o nome do cliente)</p>
			</div>
		</div>
	</section>

	<section id="ml-time" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">2 - Regras de horários Mercado Livre</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('ml-time-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="ml-time-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<div class="box b11-12 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">Vendas até as 08:00h e dia anterior</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('ml-1-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="ml-1-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.1 - Scripts devem ser enviados até no máximo 09:00h</p>
						<p class="padding-5">2.2 - Devem ser enviadas para embalo até as 11:00</p>
					</div>
				</div>

				<div class="box b11-12 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">Vendas de 08:00h até 11:00h</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('ml-2-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="ml-2-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.3 - Scripts devem ser enviados com limite de 1h após o horário da venda</p>
						<p class="padding-5">2.4 - Devem ser enviadas para embalo até 13:30h</p>
					</div>
				</div>

				<div class="box b11-12 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">Vendas entre 11:00h e 12:00h</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('ml-3-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="ml-3-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.5 - Scripts deverão ser enviados até 12:00h (antes do almoço)</p>
						<p class="padding-5">2.6 - Devem ser enviadas para embalo até as 14:00</p>
					</div>
				</div>

				<div class="box b11-12 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">Vendas entre 12:00h e 13:00h</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('ml-4-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="ml-4-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.7 - Scripts deverão ser enviados com limite de 30 minutos após a compra</p>
						<p class="padding-5">2.8 - Devem ser enviadas para embalo até as 14:00</p>
					</div>
				</div>

				<div class="box b11-12 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">Vendas após as 13:00h</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('ml-5-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="ml-5-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.9 - Scripts deverão ser enviados com limite de 15 minutos após a compra</p>
						<p class="padding-5">2.10 - Devem ser enviadas para embalo com limite de 30 minutos após script</p>
					</div>
				</div>

				<div class="box b11-12 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">Prazo Limite para enviar para embalo</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('ml-6-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="ml-6-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.11 - Todos os pedidos devem ser enviados no máximo até 15 minutos após fechamento do horário estabelecido pelo Mercado Livre.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="plat-time" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">3 - Regras de horários demais plataformas</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('plat-time-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="plat-time-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<div class="box b11-12 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">Vendas até as 08:00h e dia anterior</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('plat-1-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="plat-1-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">3.1 - Scripts devem ser enviados até no máximo 09:00h</p>
						<p class="padding-5">3.2 - Devem ser enviadas para embalo até as 17:30</p>
					</div>
				</div>

				<div class="box b11-12 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">Vendas entre 08:00h e 16:00h</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('plat-2-rules', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="plat-2-rules" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">3.3 - Scripts devem ser enviados até no máximo 16:30</p>
						<p class="padding-5">3.4 - Devem ser enviadas para embalo até as 18:00</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<footer>
	<% include ./../../partials/footer %>
</footer>
</html>