<!DOCTYPE html>
<html>
<head>
    <% include ./../../partials/head %>
</head>
<body>
	<% include ./../../partials/header %>
	<% include ./../../partials/nav %>

	<!-- Path and info -->
	<section class="container">
		<p class="em08 underline-link padding-5 pointer">J.A Rio Militar > Comercial > Soluções</p>

		<div class="box b1 padding-5 underline">
			<h4>Documentação Geral</h4>
			<h3>Setor de Soluções</h3>
			<p class="em09 margin-top-5">Na J.A Rio Militar, o setor de reclamações se chama Setor de Soluções, pois queremos mostrar ao cliente que estamos dispostos a solucionar o problema que ele teve durante o processo de compra.</p>
		</div>
	</section>

	<!-- Políticas de reclamação -->
	<section class="container h-center">
		<div class="box b11-12 container padding-5 border" style="background-color:#cbe0e9">
			<div class="box a3 container center">
				<div class="mobile-box em13 lucida-grande bold center">Políticas do setor de soluções</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('politica', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')">
				</div>
			</div>
			
			<div id="politica" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<h4 class="padding-5">Não estamos contra o cliente; o cliente não está contra nós.</h4>
				<p class="padding-5">No fim das contas, tudo o que o cliente quer é o produto que ele comprou. Independentemente se o erro foi por parte do cliente ou da empresa, se o cliente não recebeu como esperava, ele se frustra e a sua visão da empresa muda.</p>

				<h4 class="padding-5">Um erro é uma oportunidade.</h4>
				<p class="padding-5">O cliente acabou se frustrando com a compra, e agora? Como vamos tirar essa má impressão que ele tem de nós? Oferecendo o melhor pós-venda possível! Isso inclui gentileza, presteza e agilidade.</p>
				
				<h4 class="padding-5">Você trabalha na J.A Rio Militar! Mas o cliente não.</h4>
				<p class="padding-5">Nem tudo é óbvio. Deixe tudo explicado para o seu cliente! Se necessário, mande áudios, faça vídeos, dê exemplos, ligue para ele, pergunte se ele entendeu, etc. O cliente não trabalha na J.A para saber exatamente como funciona o processo de devolução, troca, reembolso, etc. Não abra margem para erros! Pior do que receber o pedido errado, é receber a “solução” errada também.</p>
				
				<h4 class="padding-5">Deixe claro que queremos ajudar o cliente.</h4>
				<p class="padding-5">“Conferi a sua compra no nosso sistema e vi aqui que você solicitou a troca de alguns itens, porém, infelizmente, a troca não foi realizada no ato do embalo (já notifiquei o setor sobre isso para melhorarmos, tá bom?). Como o erro foi nosso, não se preocupe, vamos resolver! [escreva a solução ideal para esse caso], e você não terá custo algum até o fim do procedimento ser realizado, tá? Vamos te ajudar durante todo o processo”]</p>
				
				<h4 class="padding-5">Cada caso é um caso.</h4>
				<p class="padding-5">Temos as políticas padrões da empresa, mas tudo é negociável! Se o cliente fizer um pedido, pondere e pergunte ao seu superior se isso é possível. Não precisa ceder ao cliente tudo o que ele quer, mas não descarte todas as possibilidades. Caso, ainda assim, não tenha como atender ao pedido dele, não diga um “não” frio para ele, seja sempre gentil e informe porque não pode ajudá-lo em determinadas situações.</p>
				
				<h4 class="padding-5">Quem não deve não teme.</h4>
				<p class="padding-5">O cliente fez uma reclamação no ReclameAqui? Não peça para ele retirar a reclamação, peça-o para avaliar! Ninguém procura uma empresa que não tenha erros, mas sim uma empresa que os resolva. Uma solução ágil e bem definida vale muito mais que uma página em branco no ReclameAqui!  😉</p>
			</div>
		</div>
	</section>

	<!-- Plataformas de venda -->
	<section class="container h-center">
		<div class="box b1 container">
			<div class="container underline margin-top-10">
				<img class="size-50" src="/images/icon/ecommerce.png">
				<p class="em13 lucida-grande bold center padding-5">Plataformas de venda</p>
	 		</div>
		</div>

		<div class="box a11-12 container">
			<div class="box b5 border container pointer shadow-hover padding-5 margin-top-5" onclick="window.location.href='#site'">
				<p class="box a1 lucida-grande em13 bold center">Site próprio</p>
				<div class="box a1 container"><img class="size-70 image-fit center padding-10" src="/images/favicon/favicon-black.png"></div>
			</div>

			<div class="box b5 border container pointer shadow-hover padding-5 margin-top-5" onclick="window.location.href = '#mercado-livre'">
				<p class="box a1 lucida-grande em13 bold center">Mercado Livre</p>
				<div class="box a1 container"><img class="size-70 image-fit center padding-10" src="/images/logo/ml.png"></div>
			</div>
			
			<div class="box b5 border container pointer shadow-hover padding-5 margin-top-5" onclick="window.location.href='#shopee'">
				<p class="box a1 lucida-grande em13 bold center">Shopee</p>
				<div class="box a1 container"><img class="size-70 image-fit center padding-10" src="/images/logo/shopee.png"></div>
			</div>

			<div class="box b5 border container pointer shadow-hover padding-5 margin-top-5" onclick="window.location.href='#b2w'">
				<p class="box a1 lucida-grande em13 bold center">B2W</p>
				<div class="box a1 container"><img class="size-70 image-fit center padding-10" src="/images/logo/b2w.png"></div>
			</div>

			<div class="box b5 border container pointer shadow-hover padding-5 margin-top-5" onclick="window.location.href='#via-varejo'">
				<p class="box a1 lucida-grande em13 bold center">Via Varejo</p>
				<div class="box a1 container"><img class="size-70 image-fit center padding-10" src="/images/logo/via-varejo.png"></div>
			</div>
		</div>
	</section>

	<!-- Processos básicos -->
	<section id="processos-gerais" class="container margin-top-25 padding-5 h-center">
		<div class="box b11-12 em13 underline lucida-grande bold">Processos gerais</div>
	</section>

	<!-- Localizar Compra -->
	<section id="localizar" class="container h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">1 - Localizar Pedidos no ERP</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('loc-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="loc-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<!-- loc-step-1 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 1</b> - Solicitar os dados do cliente e da compra</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('loc-step-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="loc-step-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">1.1 - Nome, número da compra, data da compra e plataforma na qual a compra foi realizada.</p>
						<div class="box b2 container radius-10 margin-top-5" style="background-color:#d9fdd3">
							<p class="box b1 em09 padding-10">Entendi sua solicitação!<br>
							Para iniciar o procedimento de trocas e devoluções eu preciso, primeiro, localizar sua compra ☺️<br>
							Me informe por favor<br>
							- Nome completo<br>
							- Número da compra<br>
							- Canal pelo qual fez a compra (mercado livre, site oficial da J.A, Americanas, shopee, submarino ou shoptime)</p>
						</div>
					</div>
				</div>

				<!-- loc-step-2 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 2</b> - Acessar área de gestão das vendas</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('loc-step-2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="loc-step-2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.1 - Acessar <a class="underline-link" onclick="lib.openExternalLink('erpjariomilitar.com')">ERP</a></p>
						<p class="padding-5 margin-top-10">2.2 - Acessar o menu e seguir o caminho <b class="lucida-grande italic">Ecommerce > Gerir Vendas</b></p>
					</div>
				</div>

				<!-- loc-step-3 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 3</b> - Encontrar pedido</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('loc-step-3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="loc-step-3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">3.1 - Limpe os filtros desnecessários como datas e faça a busca pelo código da venda ou nome do cliente, encontrando o pedido você encontrará também o telefone de contato do cliente e todos os produtos.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Criar Declaração de postagem SGP -->
	<section id="sgp" class="container h-center margin-top-5">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">2 - Criar declaração de postagem (Etiqueta reversa)</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('sgp-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="sgp-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<p class="em09 bold lucida-grande">Essa declaração serve para o cliente levar o pacote aos Correios, enviar e não precisar pagar nada.</p>

				<!-- sgp-step-1 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 1</b> - SGP > Serviços > Gerar autorização Logística Reversa</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('sgp-step-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="sgp-step-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<img class="image-fit" src="/images/documentation/ecommerce/sgp1.png">
					</div>
				</div>

				<!-- sgp-step-2 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 2</b> - Preencher todos os dados do cliente e endereço do cliente.</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('sgp-step-2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="sgp-step-2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.1 - Validade da autorização = 7 dias</p>
						<p class="padding-5">2.2 - Preencher dados da embalagem (apenas quantidade e valor declarado do produto)</p>
						<p class="padding-5">2.3 - Na aba de destinatário, clicar em "Pesquisar" e selecione endereço de caixa postal.</p>
						<img class="image-fit" src="/images/documentation/ecommerce/sgp2.png">
					</div>
				</div>

				<!-- sgp-step-3 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 3</b> - Para conferir a declaração gerada, excluir ou enviar novamente para o cliente, acesse SGP > Pesquisa > Acompanhamento Logística reversa</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('sgp-step-3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="sgp-step-3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<img class="image-fit" src="/images/documentation/ecommerce/sgp3.png">
					</div>
				</div>

				<!-- sgp-step-4 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 4</b> - Paragerar pdf da declaração, clique no símbolo de PDF no canto esquerdo referente ao cliente</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('sgp-step-4', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="sgp-step-4" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<img class="image-fit" src="/images/documentation/ecommerce/sgp4.png">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Incluir reclamação no sistema ERP -->
	<section id="erp" class="container h-center margin-top-5">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">3 - Incluir reclamação no sistema ERP</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('erp-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="erp-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<p class="em09 bold lucida-grande">Para que o pedido correto seja envido ao cliente, é necessário criar uma reclamação no ERP.</p>

				<!-- erp-step-1 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 1</b> - Acessar área de cadastro de venda</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('erp-step-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="erp-step-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">1.1 - Acessar <a onclick="lib.openExternalLink('erpjariomilitar.com')" class="underline-link">ERP</a> e realizar login</p>
						<p class="padding-5 margin-top-10">1.2 - Acessar o menu e seguir o caminho <b class="lucida-grande italic">Ecommerce > Nova venda</b></p>
					</div>
				</div>

				<!-- erp-step-2 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 2</b> - Após ter todas as informações em mãos cadastrar a reclamação</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('erp-step-2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="erp-step-2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">3.1 - Na opção <b class="lucida-grande">Plataforma da venda</b>, selecione <b class="lucida-grande">Reclamação</b></p>
						<p class="padding-5">3.2 - O código da reclamação deverá ser os 5 últimos digitos do código de rastreio seguido pelo BR, assim como na imagem abaixo</p>
						<img class="image-fit max-width-500" src="/images/documentation/ecommerce/erp2.png">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Passos Atípicos -->
	<section id="atipic" class="container h-center margin-top-5">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">4 - Passos atípicos</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('atipic-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="atipic-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<p class="em09 bold lucida-grande">Cliente está mentindo</p>

				<!-- erp-step-1 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 1</b> - Identificar a venda</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('atipic-step-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="atipic-step-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">1.1 - Acessar a venda no Mercado Livre</p>
						<p class="padding-5">1.2 - Acessar a venda ERP</p>
						<p class="padding-5">1.3 - Visualizar gravação das câmeras para conferir se está tudo correto</p>
						<p class="padding-5">1.4 - Caso os produtos estejam corretos na filmagem pergunte ao cliente se o pacote chegou aberto, diga que nos nossos registros o envio foi feito corretamente e envie o print da gravação para o cliente.</p>
						<p class="padding-5">Se ainda assim ele não aceitar diga que a empresa não cobre este tipo de reclamação.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Soluções por plataformas -->
	<section class="container margin-top-25 padding-5 h-center">
		<div class="box b11-12 em13 underline lucida-grande bold">Como prosseguir com a solução em cada plataforma</div>
	</section>

	<!-- Site -->
	<section id="site" class="container h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">1 - Site</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('site-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="site-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<!-- site-step-1 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 1</b> - Acessar área administrativa do site </div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('site-step-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="site-step-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">1.1 - Realizar login pela plataforma de Clientes da <a class="underline-link" onclick="lib.openExternalLink('https://www.tray.com.br/login/')">tray</a></p>
					</div>
				</div>

				<!-- site-step-2 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 2</b> - Solicitar dados da venda</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('site-step-2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="site-step-2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.1 - Solicitar o código do pedido para o cliente</p>
						<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
							<p class="box b1 lucida-grande bold">Modelo de abordagem ao cliente pelo WhatsApp</p>
							<p class="box b1 em09 padding-10">
								<b class="em08 lucida-grande">Atendente:</b><br>
								- Bom dia sr(a) 'Nome do cliente' <br>
								- Meu nome é 'Nome do atendente', sou representante da JA Rio Militar, estou entrando em contato devido a uma reclamação aberta, em que posso ajudar? <br>
							</p>
						</div>
						<p class="padding-5 margin-top-10">2.2 - Após ele explicar o que ocorreu solicite o código do pedido para o cliente.</p>
						<p class="padding-5 margin-top-10">2.3 - Com o código em mãos basta seguir o caminho <b class="lucida-grande italic">Vendas > Pedidos Realizados</b></p>
						<p class="padding-5 margin-top-10">2.4 - Acesse o pedido e confira se o cliente solicitou alguma alteração pelo campo de observações ou a conversa com o colaborador</b></p>
						<p class="padding-5 margin-top-10">2.5 - Caso o produto tenha ido com defeito solicite uma foto do produto para o cliente.</p>
					</div>
				</div>

				<!-- site-step-3 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 3</b> - Acessar venda pelo ERP</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('site-step-3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="site-step-3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">3.1 - Com o número da venda em mãos basta acessar o ERP e buscar nas vendas como explicado nos <a href="#localizar" class="underline-link">processos gerais Nº 1</a></p>
						<p class="padding-5 margin-top-10">3.2 - Agora basta analisar a queixa do cliente e conferir em qual momento ocorreu o erro.</p>
					</div>
				</div>

				<!-- site-step-4 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 4</b> - Gerar etiqueta reversa</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('site-step-4', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="site-step-4" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">4.1 - Após confirmar que de fato ocorreu um erro por nossa parte, deverá ser gerada a etiqueta reversa para o cliente postar o produto que recebeu</p>
						<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
							<p class="box b1 lucida-grande bold">Processo de troca</p>
							<p class="box b1 em09 padding-10">
								<b class="em08 lucida-grande">Atendente:</b><br>
								- Eu vou enviar uma declaração para o email do senhor, essa declaração servirá para que o produto seja postado nos correios sem custos. Postando o produto me envie a imagem com o comprovante de postagem para que possamos despachar o produto correto. <br>
								- Preciso apenas que me informe seu endereço, Nome completo, CPF e Email. <br>
								- A empresa não ressarce embalagens dos correios, então é necessário que o senhor já leve o produto embalado. <br>
							</p>
						</div>
						<p class="padding-5 margin-top-10">4.2 - Após isso basta gerar a etiqueta reversa como explicado nos <a href="#sgp" class="underline-link">processos gerais Nº 2</a></p>
					</div>
				</div>

				<!-- site-step-5 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 5</b> - Cliente enviou o comprovante de postagem do produto</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('site-step-5', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="site-step-5" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">5.1 - Agora você fará a postagem do produto correto para o cliente, para isso você deve primeiramente criar uma etiqueta de envio no SGP</p>
						<p class="padding-5 margin-top-10">5.2 - Basta seguir o caminho <b class="lucida-grande italic">Serviços > Pré-postagem online > Carregar > Sedex > Novo destinatário</b></p>
						<p class="padding-5 margin-top-10">5.3 - Cadastrar o Nome do cliente, CEP, Nome da Rua, Número, Complemento, Bairro, Cidade e estado.</p>
						<p class="padding-5 margin-top-10">5.4 - Alterar de envelope para pacote preenchendo o peso e as medidas do produto.</p>
						<p class="padding-5 margin-top-10">5.5 - É importante preencher todas as informações com complemento para que tenhamos certeza que o cliente receberá o produto.</p>
						<p class="padding-5 margin-top-10">5.6 - Pronto, agora temos o código de rastreio. Informe ao cliente o número e explique que pode levar até 72h para constar no sistema dos correios.</p>
					</div>
				</div>

				<!-- site-step-6 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 6</b> - Cadastrar reclamação no sistema ERP</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('site-step-6', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="site-step-6" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">4.1 - Agora você fará o cadastro da reclamação incluindo os produtos que devem ser enviados ao cliente.</p>
						<p class="padding-5 margin-top-10">4.2 - Para isso basta seguir os passos explicados nos <a href="#erp" class="underline-link">processos gerais Nº 3</a></p>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- Mercado Livre -->
	<section id="mercado-livre" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">2 - Mercado Livre</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('mercado-livre-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="mercado-livre-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<!-- mercado-livre-step-1 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 1</b> - Acessar aba principal de vendas</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('mercado-livre-step-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="mercado-livre-step-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">1.1 - Basta seguir o caminho <b class="lucida-grande italic">Menu Principal > Vendas</b></p>
					</div>
				</div>

				<!-- mercado-livre-step-2 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 2</b> - Selecionar a caixa de reclamações abertas</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('mercado-livre-step-2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="mercado-livre-step-2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.1 - Podem ter reclamações em <b>'Vendas a preparar'</b>, <b>'Enviar'</b>, <b>'Em trânsito'</b> ou <b>'Concluídas'</b></p>
					</div>
				</div>

				<!-- mercado-livre-step-3 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 3</b> - Entrar em contato com cliente antes de resolver pelo Mercado Livre</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('mercado-livre-step-3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="mercado-livre-step-3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">3.1 - Abrir e copiar o número da venda</p>
						
						<p class="padding-5 margin-top-10">3.2 - Com o número da venda em mãos basta acessar o ERP e buscar nas vendas em (E-commerce > Gerir Vendas)</p>
						
						<p class="padding-5 margin-top-10">3.3 - Limpe os filtros desnecessários como datas e faça a busca, encontrando o pedido você encontrará também o telefone de contato do cliente</p>
						
						<p class="padding-5 margin-top-10">3.4 - Devemos entrar em contato com o cliente via whatsapp para que a conversa fique registrada, caso o número cadastrado no ERP seja fixo ou não tenha WhatsApp, ligue e solicite o contato do WhatsApp para prosseguir com a conversa por escrito.</p>
						<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
							<p class="box b1 lucida-grande bold">Modelo de abordagem ao cliente pelo WhatsApp</p>
							<p class="box b1 em09 padding-10">
								<b class="em08 lucida-grande">Atendente:</b><br>
								- Bom dia sr(a) 'Nome do cliente' <br>
								- Meu nome é 'Nome do atendente', sou representante da JA Rio Militar, estou entrando em contato devido a uma reclamação aberta no Mercado Livre, em que posso ajudar? <br>
							</p>
						</div>

						<p class="padding-5 margin-top-10">3.5 - Somente deve ser realizada a devolução pelo Mercado Livre caso o produto tenha sido enviado corretamente e o cliente queira realizar a troca, seja por querer alterar a cor, porque não gostou do modelo, tamanho ou queira substituir os acessórios.</p>

						<p class="padding-5 margin-top-10">3.6 - <b class="lucida-grande">Apenas trocas por erros serão feitas diretamente conosco, Devoluções serão sempre realizadas diretamente pela Plataforma do Mercado Livre</b></p>

						<p class="padding-5 margin-top-10">3.7 - Caso tenha de fato ocorrido algum erro ou o produto esteja com defeito prosseguir a conversa da seguinte forma:</p>
						<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
							<p class="box b1 lucida-grande bold">Verificar qual o tipo de defeito e o tempo da compra</p>
							<p class="box b1 em09 padding-10">
								<b class="em08 lucida-grande">Atendente:</b><br>
								- Poderia por favor me informar o número da compra e enviar uma foto do produto?<br>
								(Verifique as imagens e o que o cliente disser para decidir como proceder) <br>
								- Vou enviar para o senhor o passo a passo para a troca do produto<br>
							</p>
						</div>

						<p class="padding-5 margin-top-10">3.8 - Após conferir tudo e chegar a conclusão que o ocorreu de fato um erro de nossa parte informar ao cliente como será feito o procedimento</p>
						<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
							<p class="box b1 lucida-grande bold">Processo de troca</p>
							<p class="box b1 em09 padding-10">
								<b class="em08 lucida-grande">Atendente:</b><br>
								- Eu vou enviar uma declaração para o email do senhor, essa declaração servirá para que o produto seja postado nos correios sem custos. Postando o produto me envie a imagem com o comprovante de postagem para que possamos despachar o produto correto. <br>
								- Preciso apenas que me informe seu endereço, Nome completo, CPF e Email. <br>
								- A empresa não ressarce embalagens dos correios, então é necessário que o senhor já leve o produto embalado. <br>
							</p>
						</div>

						<p class="padding-5 margin-top-10">3.9 - Após isso basta gerar a etiqueta reversa como explicado nos <a href="#sgp" class="underline-link">processos gerais Nº 2</a></p>
					</div>
				</div>

				<!-- mercado-livre-step-4 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 4</b> - Cliente enviou o comprovante de postagem do produto</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('mercado-livre-step-4', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="mercado-livre-step-4" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">4.1 - Agora você fará a postagem do produto correto para o cliente, para isso você deve primeiramente criar uma etiqueta de envio no SGP</p>
						<p class="padding-5">4.2 - Basta seguir o caminho <b class="lucida-grande italic">Serviços > Pré-postagem online > Carregar > Sedex > Novo destinatário</b></p>
						<p class="padding-5">4.3 - Cadastrar o Nome do cliente, CEP, Nome da Rua, Número, Complemento, Bairro, Cidade e estado.</p>
						<p class="padding-5">4.4 - Alterar de envelope para pacote preenchendo o peso e as medidas do produto.</p>
						<p class="padding-5">4.5 - É importante preencher todas as informações com complemento para que tenhamos certeza que o cliente receberá o produto.</p>
						<p class="padding-5">4.6 - Pronto, agora temos o código de rastreio. Informe ao cliente o número e explique que pode levar até 72h para constar no sistema dos correios.</p>
					</div>
				</div>

				<!-- mercado-livre-step-5 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 5</b> - Cadastrar reclamação no sistema ERP</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('mercado-livre-step-5', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="mercado-livre-step-5" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">4.1 - Agora você fará o cadastro da reclamação incluindo os produtos que devem ser enviados ao cliente.</p>
						<p class="padding-5 margin-top-10">4.2 - Para isso basta seguir os passos explicados nos <a href="#erp" class="underline-link">processos gerais Nº 3</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Shopee -->
	<section id="shopee" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">3 - Shopee</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('shopee-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="shopee-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<!-- shopee-step-1 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 1</b> - Acessar central do vendedor</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('shopee-step-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="shopee-step-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">1.1 - Realizar login pela plataforma de Clientes da <a class="underline-link" onclick="lib.openExternalLink('https://seller.shopee.com.br/account/signin?next=%2F')">Shopee</a></p>
						<p class="padding-5 margin-top-10">2.3 - Com o código em mãos basta seguir o caminho <b class="lucida-grande italic">Central do vendedor > Meus Pedidos</b></p>
					</div>
				</div>

				<!-- shopee-step-2 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 2</b> - Solicitar dados da venda</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('shopee-step-2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="shopee-step-2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">2.1 - Solicitar o código do pedido para o cliente</p>
						<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
							<p class="box b1 lucida-grande bold">Modelo de abordagem ao cliente pelo WhatsApp</p>
							<p class="box b1 em09 padding-10">
								<b class="em08 lucida-grande">Atendente:</b><br>
								- Bom dia sr(a) 'Nome do cliente' <br>
								- Meu nome é 'Nome do atendente', sou representante da JA Rio Militar, estou entrando em contato devido a uma reclamação aberta, em que posso ajudar? <br>
							</p>
						</div>
						<p class="padding-5 margin-top-10">2.2 - Após ele explicar o que ocorreu solicite o código do pedido para o cliente.</p>
						<p class="padding-5 margin-top-10">2.3 - Com o código em mãos basta seguir o caminho <b class="lucida-grande italic">Central do vendedor > Meus pedidos</b></p>
						<p class="padding-5 margin-top-10">2.4 - Acesse o pedido e confira se o cliente solicitou alguma alteração pelo chat</b></p>
						<p class="padding-5 margin-top-10">2.5 - Caso o produto tenha ido com defeito solicite uma foto do produto para o cliente.</p>
					</div>
				</div>

				<!-- shopee-step-3 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 3</b> - Acessar venda pelo ERP</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('shopee-step-3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="shopee-step-3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">3.1 - Com o número da venda em mãos basta acessar o ERP e buscar nas vendas como explicado nos <a href="#localizar" class="underline-link">processos gerais Nº 1</a></p>
						<p class="padding-5 margin-top-10">3.2 - Agora basta analisar a queixa do cliente e conferir em qual momento ocorreu o erro.</p>
					</div>
				</div>

				<!-- shopee-step-4 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 4</b> - Gerar etiqueta reversa</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('shopee-step-4', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="shopee-step-4" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">4.1 - Após confirmar que de fato ocorreu um erro por nossa parte, deverá ser gerada a etiqueta reversa para o cliente postar o produto que recebeu</p>
						<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
							<p class="box b1 lucida-grande bold">Processo de troca</p>
							<p class="box b1 em09 padding-10">
								<b class="em08 lucida-grande">Atendente:</b><br>
								- Eu vou enviar uma declaração para o email do senhor, essa declaração servirá para que o produto seja postado nos correios sem custos. Postando o produto me envie a imagem com o comprovante de postagem para que possamos despachar o produto correto. <br>
								- Preciso apenas que me informe seu endereço, Nome completo, CPF e Email. <br>
								- A empresa não ressarce embalagens dos correios, então é necessário que o senhor já leve o produto embalado. <br>
							</p>
						</div>
						<p class="padding-5 margin-top-10">4.2 - Após isso basta gerar a etiqueta reversa como explicado nos <a href="#sgp" class="underline-link">processos gerais Nº 2</a></p>
					</div>
				</div>

				<!-- shopee-step-5 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 5</b> - Cliente enviou o comprovante de postagem do produto</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('shopee-step-5', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="shopee-step-5" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">5.1 - Agora você fará a postagem do produto correto para o cliente, para isso você deve primeiramente criar uma etiqueta de envio no SGP</p>
						<p class="padding-5 margin-top-10">5.2 - Basta seguir o caminho <b class="lucida-grande italic">Serviços > Pré-postagem online > Carregar > Sedex > Novo destinatário</b></p>
						<p class="padding-5 margin-top-10">5.3 - Cadastrar o Nome do cliente, CEP, Nome da Rua, Número, Complemento, Bairro, Cidade e estado.</p>
						<p class="padding-5 margin-top-10">5.4 - Alterar de envelope para pacote preenchendo o peso e as medidas do produto.</p>
						<p class="padding-5 margin-top-10">5.5 - É importante preencher todas as informações com complemento para que tenhamos certeza que o cliente receberá o produto.</p>
						<p class="padding-5 margin-top-10">5.6 - Pronto, agora temos o código de rastreio. Informe ao cliente o número e explique que pode levar até 72h para constar no sistema dos correios.</p>
					</div>
				</div>

				<!-- shopee-step-6 -->
				<div class="box b1 container margin-top-5 border padding-10 radius-5">
					<div class="mobile-box b11-12"><b class="em08 lucida-grande">Passo 6</b> - Cadastrar reclamação no sistema ERP</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('shopee-step-6', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="shopee-step-6" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5">4.1 - Agora você fará o cadastro da reclamação incluindo os produtos que devem ser enviados ao cliente.</p>
						<p class="padding-5 margin-top-10">4.2 - Para isso basta seguir os passos explicados nos <a href="#erp" class="underline-link">processos gerais Nº 3</a></p>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- B2W -->
	<section id="b2w" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">4 - B2W</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('b2w-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="b2w-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
			</div>
		</div>
	</section>

	<!-- Via Varejo -->
	<section id="via-varejo" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">5 - Via Varejo</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('via-varejo-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="via-varejo-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
			</div>
		</div>
	</section>
</body>
<footer>
	<% include ./../../partials/footer %>
</footer>
</html>