<div id="shipment-filter-box" class="box b2-3 container ground border radius-5 padding-10">
  <div class="box b1 underline lucida-grande bold center">Viagens agendadas</div>
  <div id="shipment-filter-div" class="box b1 container"></div>
</div>