<html>

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <div class="container">
    <div class="mobile-box a6">
      <img class="width-100 noselect padding-15 opacity-out-08 pointer" onclick="window.location.href='/'"
        src="/images/favicon/favicon-black.png">
    </div>
  </div>

  <div class="container h-center margin-top-30">
    <div class="box b2-3 ground h-center">
      <div class="box b1 lucida-grande bold center padding-10 margin-top-20 underline">Não foi possível encontrar a
        página que está procurando</div>
      <div class="box b1 lucida-grande em09 center padding-10"><a class="box b1" href="/">Retornar para página
          principal</a></div>
      <div class="box box b1 center padding-10"><img class="box b2 image-fit" src="/images/404.png"></div>
    </div>
  </div>
</body>

</html>