<html>
	<head>
    <% include ./partials/head %>
	</head>
	<body>
		<% include ./partials/header %>
    <% include ./partials/nav %>
    <section class="container">
      
    </section>
    <% include ./partials/loader %>
	</body>
	<footer>
    <% include ./partials/footer %>
    <script src="/javascripts/scripts/product/model/main.js"></script>
    <script src="/javascripts/scripts/product/view/main.js"></script>
    <script src="/javascripts/scripts/product/controller/main.js"></script>
    <script type="text/javascript">
      function print() { openPrintWindow('/product/print','to_print','width=700,height=400,_blank'); };
    </script>
	</footer>
</html>