<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <header>
            <div onclick="window.location.href='/'" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
        </header>

        <style type="text/css">
            .alert-msgg {

            }
        </style>
        
        <section class="container ground">
            <% if (message.length > 0) { %>
                <div class="box one container alert-msg margin-top-10">
                    <div class="box one center bold"><%= message %></div>
                </div>
            <% } %>
            <div class="box three"></div>
            <form action="/user/login" method="post" class="box three ground container padding-10 center">
                <h3 class="underline center">Faça seu login</h3>
                <p class="box one margin-top-10 bold">E-mail</p>
                <input type="email" class="box one input-generic" name="email" autocomplete="off">
                <p class="box one margin-top-10 bold">Senha</p>
                <input type="password" class="box one input-generic" name="password" autocomplete="off">
                <button type="submit" class="box one submit-generic box-hover margin-top-10 bold">Login</button>
            </form>
        </section>
    </body>
    <footer>
        <% include ./partials/footer %>
        </script>
    </footer>
</html>