<style>
  .btn-confirm {
    background-color: #35b46a;
    color: #fff;
  }

  .btn-confirm:hover {
    background-color: #24aa5a;
    color: #fff;
  }
</style>

<form id="supplier-filter-form" class="box a1 container">
  <div class="box b1 underline lucida-grande center">Buscar fornecedor</div>
  <input type="text" name="brand" class="box b2-3 input-generic margin-top-5 center" autocomplete="off"
    placeholder="Nome da empresa">
  <input type="submit" name="submit" class="box b3 submit-generic margin-top-5 center" value="Buscar">
</form>