<form id="purchase-filter-form" class="box b1 container ground padding-10">
  <input type="text" name="id" class="box b8 input-generic margin-top-5 center" placeholder="Código">
  <select name="supplier-id" class="box b4 input-generic margin-top-5"
    onchange="Feedstock.purchase.controller.setSupplier(this.value)">
    <option value="">Fornecedor</option>
    <% for(i in suppliers) { %>
    <option value="<%= suppliers[i].id %>"><%= suppliers[i].brand %></option>
    <% } %>
  </select>
  <input type="date" name="period-start" class="box b4 input-generic center margin-top-5">
  <input type="date" name="period-end" class="box b4 input-generic center margin-top-5">
  <input type="submit" name="submit" class="box b8 submit-generic margin-top-5" value="Buscar">
</form>