<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>
        <section>
            <div class="container">
                <form id="sale-filter-form" class="box one container ground padding-10 margin-top-10">
                    <input type="text" name="customer_name" placeholder="Nome" class="box three input-generic center" autocomplete="off">
                    <input type="text" name="customer_cnpj" placeholder="CNPJ" class="box six input-generic center" autocomplete="off">
                    <input type="date" name="periodStart" class="box six input-generic center" autocomplete="off">
                    <input type="date" name="periodEnd" class="box six input-generic center" autocomplete="off">
                    <input type="submit" name="submit" class="box six submit-generic box-hover center bold" value="Filtrar">
                </form>
            </div>
        </section>
        <% include ./../partials/loader %>
    </body>
    <footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script src="/javascripts/scripts/product/model/main.js"></script>
        <script src="/javascripts/scripts/customer/model/main.js"></script>

        <script src="/javascripts/scripts/sale/view/product.js"></script>
        <script src="/javascripts/scripts/sale/controller/product.js"></script>

        <script src="/javascripts/scripts/sale/view/customer.js"></script>
        <script src="/javascripts/scripts/sale/controller/customer.js"></script>

        <script src="/javascripts/scripts/sale/view/kart.js"></script>
        <script src="/javascripts/scripts/sale/controller/kart.js"></script>
    </footer>
</html>