<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>
        <section>
            <div class="container">
                <input type="text" id="sale-id" value="" hidden>
                <div class="box one ground container margin-top-10">
                    <div class="box three ground center padding-10 margin-top-15">
                        <h5 class="underline">Buscar Cliente</h5>
                        <form id="customer-filter-form" class="box one container">
                            <input type="text" name="name" class="box three input-generic center ground margin-top-5" placeholder="Nome" autocomplete="off">
                            <input type="text" name="cnpj" class="box three input-generic center ground margin-top-5" placeholder="CNPJ" maxlength="14" autocomplete="off">
                            <input type="submit" name="submit" class="box three submit-generic center bold margin-top-5" value="Buscar">
                        </form>
                        <select id="sale-customer" class="box one center input-explicit margin-top-5 hide-disabled"><option value=''>Selecionar cliente</option></select>
                    </div>
                    <div class="box three container ground padding-10 margin-top-10">
                        <div class="box one container ground center padding-10">
                            <div class="box two box-border padding-5">
                                <h5 class="underline">Data da venda</h5>
                                <input type="date" id="sale-date" class="box one input-explicit">
                            </div>
                            <div class="box two box-border padding-5">
                                <h5 class="underline">Previsão de envio</h5>
                                <input type="date" id="estimated-shipping-date" class="box one input-explicit">
                            </div>
                        </div>
                    </div>
                    <div class="box three padding-10">
                        <select id="payment-method" class="box one input-explicit margin-top-5 hide-disabled">
                            <option value="" disabled selected>Forma de Pagamento</option>
                            <option value="À vista">À Vista</option>
                            <option value="30">30 dias</option>
                            <option value="60">60 dias</option>
                            <option value="90">90 dias</option>
                        </select>
                        <select id="status" class="box one input-explicit margin-top-5 hide-disabled">
                            <option value="" disabled selected>Status da venda</option>
                            <option value="Em negociação">Em negociação</option>
                            <option value="Ag. pagamento">Ag. pagamento</option>
                            <option value="Ag. envio">Ag. Envio</option>
                        </select>
                        <input type="button" id="sale-create-submit" class="box one input-confirm bold padding-15 margin-top-5" value="CONFIRMAR VENDA">
                    </div>
                </div>
                <div class="box one container center ground padding-10 margin-top-10">
                    <div class="box two container ground center padding-10 margin-top-5">
                        <!-- <h5 class="underline">Buscar Produtos</h5>
                        <form id="product-filter-form" class="box one container">
                            <input type="hidden" name="location" value="product-manage" autocomplete="off">
                            <input type="number" name="code" class="box six center input-generic margin-top-5" placeholder="Cód" autocomplete="off">
                            <input type="text" name="name" class="box two center input-generic margin-top-5" placeholder="Nome" autocomplete="off">
                            <select name="color" class="box six center input-generic margin-top-5" autocomplete="off">
                                <option value="">Cor</option>
                                <% for(i in productColors){ %>
                                    <option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
                                <% } %>
                            </select>
                            <input type="submit" name="submit" class="box six submit-generic center margin-top-5 bold" value="Filtrar">
                        </form> -->
                        <h5 class="underline margin-top-15">Incluir produto no carrinho</h5>
                        <form id="sale-kart-product-form" class="box one container">
                            <div class="box two-thirds container dropdown ground margin-top-5">
                                <ul class="box one container">
                                    <li>
                                        <input type="hidden" name="product_id">
                                        <input type="text" name="product" data-id="" class="box one input-generic center" oninput="Product.controller.filter.input(this)" placeholder="Descrição do produto" onclick="if(this.readOnly){this.value=''; this.readOnly = false;}" autocomplete="off">
                                        <ul id="sale-product-kart-dropdown" class="box one"></ul>
                                    </li>
                                </ul>
                            </div>
                            <input type="number" name="amount" class="box six input-generic center margin-top-5" placeholder="Qtd">
                            <button type="submit" name="submit" class="box six submit-generic center margin-top-5 pointer"><img class='img-tbl-btn' src="images/icon/increase.png"></button>
                            <!-- <input type="submit" name="submit" class="box four submit-generic center margin-top-5 bold" > -->
                        </form>
                        <table id="sale-kart-product-table" class="tbl-info box one center ground padding-10 margin-top-10"></table>
                    </div>
                    <div class="box two container ground center padding-10 margin-top-5">
                        <h5 class="underline">Pacote de produtos</h5>
                        <table id="sale-kart-package-product-table" class="tbl-info box one center ground padding-10 margin-top-10"></table>
                        <% include ./../partials/carousel %>
                    </div>
                    <!-- <h5 class="underline margin-top-15">Cadastrar pacote atual</h5>
                    <form id="product-pack-create-form" class="box one container">
                        <input type="text" name="name" class="box two-fifths input-generic" placeholder="Nome do pacote">
                        <input type="text" name="color" class="box five input-generic" placeholder="Cor do pacote">
                        <input type="text" name="price" class="box five input-generic" placeholder="Valor do pacote">
                        <input type="submit" name="submit" value="Salvar Pacote" class="box five submit-generic box-hover bold">
                    </form> -->
                </div>
            </div>
        </section>
        <% include ./../partials/loader %>
    </body>
    <footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script src="/javascripts/scripts/product/model/main.js"></script>
        <script src="/javascripts/scripts/customer/model/main.js"></script>

        <script src="/javascripts/scripts/sale/view/product.js"></script>
        <script src="/javascripts/scripts/sale/controller/product.js"></script>

        <script src="/javascripts/scripts/sale/view/customer.js"></script>
        <script src="/javascripts/scripts/sale/controller/customer.js"></script>

        <script src="/javascripts/scripts/sale/view/kart.js"></script>
        <script src="/javascripts/scripts/sale/controller/kart.js"></script>
    </footer>
</html>