<form id="production-filter-form" style="display: none;">
  <input type="submit" name="submit">
</form>

<div id="production-filter-box" class="box b2-3 container ground border radius-5 margin-top-5 padding-5">
  <div id="production-filter-div" class="box b1 container"></div>
</div>