<!DOCTYPE html>
<html>
<head>
    <% include ./../../partials/head %>
</head>
<body>
	<% include ./../../partials/header %>
	<% include ./../../partials/nav %>

		<!-- títulos -->
	<section class="container">
		<p class="em08 underline-link padding-5 pointer">J.A Rio Militar > Documentação > Administração | Financeiro | RH</p>

		<div class="box b1 padding-5 underline">
			<h4>Documentação Geral</h4>
			<h3>Administração | Financeiro | RH</h3>
			<p class="em09 margin-top-5">Informações sobre modo de trabalho realizado na J.A Rio Militar. Todo o conteúdo é atualizado constantemente, com o objetivo de melhorar o desempenho de toda a equipe.</p>
		</div>
	</section>

	<!-- tarefas -->
	<section class="container margin-top-10 h-center">
		<div class="box a1 container center">
			<div class="container underline">
				<img class="size-50" src="/images/icon/doc.png">
				<p class="em13 bold center padding-5">Tarefas</p>
	 		</div>
	 	</div>

	 	<div class="box b11-12">
	 		<h4>Sumário</h4>
			<p class="margin-top-2"> <a class="underline-link" href="#organizar1">Sessão 1 - Organizar documentos</a></p>
			<p class="margin-top-2"> <a class="underline-link" href="#organizar2">Sessão 2 - Gerenciar compras</a></p>
			<p class="margin-top-2"> <a class="underline-link" href="#organizar3">Sessão 3 - Gerenciar funcionários</a></p>
			<p class="margin-top-2"> <a class="underline-link" href="#organizar4">Sessão 4 - Organizar fiscalização</a></p>
		</div>
	</section>

	<!-- missões -->
	<!-- 1 - Organizar documentos -->
	<section class="container margin-top-25 padding-5 h-center">
		<div class="box b11-12 container">
			<h3 id="organizar1">1 - Organizar documentos</h3>
			<!-- 1.1 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">1.1 Conferir quais os documentos obrigatórios de estarem visíveis no estabelecimento</div>
					<p class="em09">Existem documentos específicos que devem estar visíveis no local em caso de conferência da prefeitura. Ex.: Alvará, Cartaz de horário de funcionamento da empresa, etc.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('1.1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="1.1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<p>Conferir na internet e com o contador quais são os documentos obrigatórios que devem estar visíveis no estabelecimento comercial JC Carvalho (com sede na Estrada Canrobert Pereira da Costa, 373 - Realengo), e no estabelecimento de confecção Impavido Tatico (com sede na sua Rua José Sardinha, 335 - Jardim Sulacap).</p>
				</div>
			</div>
			<!-- 1.2 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">1.2 Organizar em pastas diferentes todos os documentos das empresas</div>
					<p class="em09">Contrato social, inscrição estadual, requerimento de empresário, etc.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('1.2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="1.2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<p>Conferir quais documentos precisam estar impressos e quais podem ser apenas digitais e separar os impressos em pastas físicas e os digitais na nuvem da empresa.</p>
				</div>
			</div>
			<!-- 1.3 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">1.3 Fazer contato direto com contador sobre alterações cadastrais</div>
					<p class="em09">Alteração de endereço, telefone, natureza jurídica, etc.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('1.3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="1.3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
						<p class="box b1 em09 padding-10">
							Prezados Senhores<br>
							<br>
							Viemos por meio desta informar que a partir de 31/01/2022 estaremos funcionando em novo endereço conforme segue:
							Estrada General Canrobert Pereira da Costa, 373 - Realengo
							Cep: 21710-400 - RJ<br>
							<br>
							Peço a alteração do endereço na nossa inscrição de CNPJ- 14.114.604/0001-73, além de um novo alvará.<br>
							Solicito também os valores da taxa de alvará e alteração contratual.<br>
							<br>
							Atenciosamente.
						</p>
					</div>
				</div>
			</div>
			<!-- 1.4 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">1.4 Realizar trâmite de abertura de empresa</div>
					<p class="em09">Separação de documentos necessários para abertura de empresa e contato com contadores para formalização.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('1.4', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="1.4" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
						<p class="box b1 em09 padding-10">
						1) Dados dos Sócios ou titular:<br>
						<br>
						- RG<br>
						- CPF<br>
						- Título de Eleitor<br>
						- Comprovante de Residência<br>
						-  Regime de casamento (se for casado)<br>
						- Número do Recibo do último Imposto de Renda declarado.<br>
						- Login e Senha do Gov.br<br>
						- Telefone<br>
						- E-mail<br>
						- Certificado Digital Pessoa Física<br>
						<br>
						2) Dados da Empresa:<br>
						<br>
						- Três Nomes da Razão Social para reserva e aprovação<br>
						- Se a Empresa for como ponto de referência, um dos sócios deverá residir no endereço<br>
						- Espelho do IPTU, e se o imóvel alugado, será necessário também o contrato de locação do imóvel<br>
						<br>
						3) Pendência Estadual e Vínculos Empresarial<br>
						<br>
						- Informar se possui alguma pendência cadastral no Estado (Ex.: Se possui ou já possuiu alguma empresa)<br>
						<br>
						Baixe agora a ficha para preenchimento e assinatura.
							<div class="box b1 container">
								<img class="size-50 padding-10 pointer" src="/images/icon/pdf.png" onclick="lib.openExternalLink('https://drive.google.com/file/d/1B9PQHzwVChGjAZbEVNP20tpSJu1yPpMZ/view?usp=sharing')">
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- 2 - Gerenciar Compras -->
	<section class="container margin-top-25 padding-5 h-center">
		<div class="box b11-12 container">
			<h3 class="margin-top-10" id="organizar2">2 - Gerenciar compras</h3>
			<!-- 2.1 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">2.1 Separar as compras para todas as empresas (com fornecedores)</div>
					<p class="em09">Verificar com o gerente de compras quais serão os próximos pedidos para que a compra seja feita no nome da empresa correta de acordo com o valor acordado. Será definido um limite em reais para compras por cada empresa.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="2.1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02 em08" style="display: none;">
					<p>Como será necessário separar o mesmo valor de compras para todas as empresas, é importante se atentar para avisar ao responsável pela compra de insumos como vai funcionar o novo trâmite. Em compras à vista, é possível comprar através de qualquer CNPJ. Para compras parceladas, é preciso pedir um limite de crédito.</p>
					<img class="image-fit" src="/images/documentation/admin/compras.jpg">
					<b>☝️ Essa é a planilha na qual será feita a organização pois é possível ter uma visão geral do setor de compras.</b>
					<p class="padding-5">Preenchimento dos campos:<br>
					<b>Data</b> - dia exato no qual a nota foi emitida (não confundir com dia da primeira parcela)<br>
					<b>Fornecedor</b> - empresa que vende os insumos que compramos<br>
					<b>Comprador</b> - uma empresa do grupo J.A que irá realizara compra<br>
					<b>Valor</b> - valor total da compra (não confundir com valor da parcela; não somar o valor do frete)<br>
					<b>NF</b> - número da nota fiscal (fica disponível na própria Danfe que recebemos por e-mail)<br>
					<b>Pagamento</b> - tipo de pagamento (parcelado, à vista, cheque)<br>
					<b>1ª | 2ª | 3ª | 4ª | 5ª parcela</b> - informar o valor exato de cada parcela, se for o caso. Se a compra for à vista, preencher com "n/a" (não aplica)<br>
					<b>Transportador</b> - empresa responsável pelo envio e entrega da mercadoria.
					</p>
				</div>
			</div>
			<!-- 2.2 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">2.2 Manter contato com fornecedores em caso de imprevistos ou dúvidas</div>
					<p class="em09">Ter fácil comunicação no e-mail, WhatsApp ou telefone com os vendedores de cada empresa fornecedora, a fim de tirar dúvidas sobre pedidos atrasados, meios de pagamento, etc.</p>
				</div>
			</div>
			<!-- 2.3 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">2.3 Verificar rastreio e entrega das compras</div>
					<p class="em09">Consultar o rastreio de todas as compras, até que estejam no local de destino. As notas fiscais de compra contém a transportadora pela qual foi enviado o pedido.</p>
				</div>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="2.3" class="mobile-box container b1 center margin-top-5 padding-5 transition-02-02" style="display: none;">
					<div class="box b4 container border radius-5 h-center height-200">
						<img class="size-100" src="/images/logo/jadlog.png">
						<p class="em08 padding-5">Para consultar o rastreio na Jadlog, é só informar o CPF ou CNPJ do destinatário.</p>
						<a class="underline-link margin-top-10" href="https://www.jadlog.com.br/siteInstitucional/tracking.jad">Clique aqui para rastrear</a>
					</div>
					<div class="box b4 container border radius-5 h-center height-200">
						<img class="size-100" src="/images/logo/frilog.png">
						<p class="em08 padding-5">Para consultar o rastreio na Frilog, é só informar o CNPJ do destinatário, número da nota fiscal e a situação do pedido.</p>
						<a class="underline-link margin-top-10" href="https://platform.senior.com.br/logistica-tck/tms/tck-frontend/#/login/signup?tenant=Wm5KcGJHOW4%3D">Clique aqui para rastrear</a>
					</div>
					<div class="box b4 container border radius-5 h-center height-200">
						<img class="size-100" src="/images/logo/grativol.png">
						<p class="em08 padding-5">Para consultar o rastreio na Grativol, é só ligar para o telefone e informar o CNPJ, número da nota e a empresa fornecedora.</p>
						<a class="underline-link margin-top-10">(21) 2501-4533</a>
					</div>
					<div class="box b4 container border radius-5 h-center height-200">
						<img class="size-100" src="/images/logo/braspress.png">
						<p class="em08 padding-5">Para consultar o rastreio na Braspress, é só informar o CPF ou CNPJ do destinatário.</p>
						<a class="underline-link margin-top-10" href="https://www.braspress.com/rastreie-sua-encomenda/">Clique aqui para rastrear</a>
					</div>
				</div>
			</div>
			<!-- 2.4 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">2.4 Cadastrar despesas no sistema</div>
					<p class="em09">Cadastrar boletos de compras, contas fixas, dívidas, folhas de pagamento, etc.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="2.4" class="mobile-box container b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<div class="box b1 container margin-top-5 border padding-10 radius-5">
						<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.1</b> Cadastrar boletos de compras</div>
						<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

						<div id="2.4.1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
							<div class="box b1 container margin-top-5 border padding-10 radius-5">
								<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.1.1 Identificar compras</b></div>
								<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.1.1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
								<div id="2.4.1.1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
									<p class="em08">Todas as notas fiscais de compras são recebidas no e-mail <b>compras@jariomilitar.com.br</b>, mas nem todos os boletos são recebidos. Por isso, o relatório de compras sempre será baseado nas <b>notas fiscais</b>.</p>
									<img class="image-fit" src="/images/documentation/admin/nf.jpg">
								</div>
							</div>

							<div class="box b1 container margin-top-5 border padding-10 radius-5">
								<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.1.2 Cadastrar a compra na planilha</b></div>
								<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.1.2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

								<div id="2.4.1.2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
									<p class="em08">Os dados da compra devem ser preenchidos na planilha de acordo com o tópico <a href="#organizar2">2.1</a>.</p>
								</div>
							</div>

							<div class="box b1 container margin-top-5 border padding-10 radius-5">
								<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.1.3 Cadastrar os boletos da compra no ERP</b></div>
								<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.1.3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

								<div id="2.4.1.3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
									<p class="em08">Se a compra for parcelada, é <b>obrigatório</b> cadastrar as despesas da compra no erp.<br>
									Caso o fornecedor não possa enviar os boletos no mesmo dia que enviar a nota fiscal, cadastre a compra normalmente e, nos dados bancários, escreva "A preencher". Assim que receber os boletos, edite a despesa com os dados corretos.
									</p>
									<div class="box b1 container margin-top-5">
										<img class="box b2-3 border" src="/images/documentation/admin/despesa.jpg">
										<div class="box a3 container em08">
										<p class="margin-top-10"><b>1 - Data de vencimento -</b> Sempre colocar a data da despesa 2 ou 3 dias antes do vencimento real do boleto.</p>
										<p class="margin-top-10"><b>2 - Categoria -</b> Sempre que a despesa for relacionada a compras de insumos ou matéria prima, a categoria será "PRO-Materia Prima".</p>
										<p class="margin-top-10"><b>3 - Origem -</b> A origem é referente ao fornecedor específico da compra.</p>
										<p class="margin-top-10"><b>4 - Valor -</b> Valor do boleto (não confunda com o valor da nota fiscal; não arredonde o valor).</p>
										<p class="margin-top-10"><b>5 - Descrição -</b> Parcela [nº da parcela] | NF [nº da nota fiscal].
										Ex.: Parcela 2/5 | NF 99999</p>
										</div>
									</div>
								</div>
							</div>

							<div class="box b1 container margin-top-5 border padding-10 radius-5">
								<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.1.4 Cadastrar pagamento</b></div>
								<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.1.4', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
								<div id="2.4.1.4" class="mobile-box container b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
									<div class="box b1 container margin-top-5 border padding-10 radius-5">
										<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.1.4.1</b> Boleto</div>
										<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.1.4.1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

										<div id="2.4.1.4.1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
											<div class="box b1 container margin-top-5">
												<img class="box b2-3 border" src="/images/documentation/admin/boleto.jpg">
												<div class="box a3 container em08">
												<p class="margin-top-10"><b>1 - Banco recebedor -</b> Banco descrito no boleto.</p>
												<p class="margin-top-10"><b>2 - Nome do beneficiário -</b> Nome do recebedor do boleto. no boleto pode estar escrito "favorecido", "cedente", "recebedor" ou "beneficiário".</p>
												<p class="margin-top-10"><b>3 - Código de barras -</b> Código de números que tem no boleto.</p>
												</div>
											</div>
										</div>
									</div>

									<div class="box b1 container margin-top-5 border padding-10 radius-5">
										<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.1.4.2</b> Transferência bancária ou PIX</div>
										<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.1.4.2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

										<div id="2.4.1.4.2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
											<p>Para adicionar despesas que tenham como modo de pagamento <b>transferência bancária ou PIX</b>, é necessário cadastrar a conta do recebedor em:</p>
											<p>Financeiro > Despesas > Selecionar categoria > Selecionar (ou cria, caso não tenha) origem > "Adicionar método de pagamento" > Preencher dados de transferência bancária ou PIX.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box b1 container margin-top-5 border padding-10 radius-5">
						<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.2</b> Cadastrar contas fixas</div>
						<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

						<div id="2.4.2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">

							<div class="box b1 container margin-top-5 border padding-10 radius-5">
								<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.2.1 Localizar conta na planilha</b></div>
								<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.2.1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
								<div id="2.4.2.1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
									<p class="em08">As contas fixas estão cadastradas na <a  href="https://docs.google.com/spreadsheets/d/1a_IyBmwMyEAn7tqigqNGJV3hLx-F44oD/edit?usp=sharing&ouid=117817801698912139272&rtpof=true&sd=true">planilha</a>. As desepesas podem conter link (plataforma onde é possível baixar a fatura); comentário (com usário e senha para acessar a plataforma) ou comentário (com e-mail no qual a fatura é recebida).</p>
								</div>
							</div>

							<div class="box b1 container margin-top-5 border padding-10 radius-5">
								<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.2.2 Cadastrar as despesas no ERP</b></div>
								<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.2.2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

								<div id="2.4.2.2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
									<p class="em08">Se a compra for parcelada, é <b>obrigatório</b> cadastrar as despesas da compra no erp.<br>
									Caso o fornecedor não possa enviar os boletos no mesmo dia que enviar a nota fiscal, cadastre a compra normalmente e, nos dados bancários, escreva "A preencher". Assim que receber os boletos, edite a despesa com os dados corretos.s
									</p>
									<div class="box b1 container margin-top-5">
									<img class="box b2-3 border" src="/images/documentation/admin/despesa.jpg">
									<div class="box a3 container em08">
									<p class="margin-top-10"><b>1 - Data de vencimento -</b> Sempre colocar a data da despesa 2 ou 3 dias antes do vencimento real da despesa.</p>
									<p class="margin-top-10"><b>2 - Categoria -</b> A categoria varia de acordo com a despesa..</p>
									<p class="margin-top-10"><b>3 - Origem -</b> A origem varia de acordo com a despesa e a categoria.</p>
									<p class="margin-top-10"><b>4 - Valor -</b> Valor da despesa (Não arredonde o valor).</p>
									<p class="margin-top-10"><b>5 - Descrição -</b> A descrição pe importante para saber do que a despesa se trata. Se tiver dúvidas, filtre as despesas anteriores e consulte a descrição.</p>
									</div>
									</div>
								</div>
							</div>

							<div class="box b1 container margin-top-5 border padding-10 radius-5">
								<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.2.3 Cadastrar pagamento</b></div>
								<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.2.3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
								<div id="2.4.2.3" class="mobile-box container b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
									<div class="box b1 container margin-top-5 border padding-10 radius-5">
										<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.1.3.1</b> Boleto</div>
										<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.2.3.1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

										<div id="2.4.2.3.1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
											<div class="box b1 container margin-top-5">
												<img class="box b2-3 border" src="/images/documentation/admin/boleto.jpg">
												<div class="box a3 container em08">
												<p class="margin-top-10"><b>1 - Banco recebedor -</b> Banco descrito no boleto.</p>
												<p class="margin-top-10"><b>2 - Nome do beneficiário -</b> Nome do recebedor do boleto. no boleto pode estar escrito "favorecido", "cedente", "recebedor" ou "beneficiário".</p>
												<p class="margin-top-10"><b>3 - Código de barras -</b> Código de números que tem no boleto.</p>
												</div>
											</div>
										</div>
									</div>

									<div class="box b1 container margin-top-5 border padding-10 radius-5">
										<div class="mobile-box b11-12"><b class="em08 lucida-grande">2.4.2.3.2</b> Transferência bancária ou PIX</div>
										<div class="mobile-box b12 container"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.4.2.3.2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

										<div id="2.4.2.3.2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
											<p>Para adicionar despesas que tenham como modo de pagamento <b>transferência bancária ou PIX</b>, é necessário cadastrar a conta do recebedor em:</p>
											<p>Financeiro > Despesas > Selecionar categoria > Selecionar (ou cria, caso não tenha) origem > "Adicionar método de pagamento" > Preencher dados de transferência bancária ou PIX.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 2.5 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">2.5 Fazer cadastro das empresas com os fornecedores</div>
					<p class="em09">Enviar documentos necessários para fazer cadastro com os fornecedores. Ex.: CNPJ, Inscrição Estadual, etc.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('2.5', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="2.5" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<div class="box b2 container padding-10 radius-10 margin-top-5" style="background-color:#d9fdd3">
						<p class="box b1 em09 padding-10">
							Prezados Senhores<br>
							<br>
							Viemos por meio solicitar cadastro de empresa [escreva a empresa] para realizar compras com vocês.<br>
							<br>
							Quais são os dados e documentos necessários?<br>
							<br>
							Atenciosamente.
						</p>
					</div>
					<p class="padding-5 em08">Verificar quais os documentos necessários e enviar, a fim de finalizar o cadastro.</p>
				</div>
			</div>
			<!-- 2.6 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">2.6 Controlar o quanto é gasto por cada empresa</div>
					<p class="em09">Alimentar a planilha de compras diariamente a fim de equilibrar o valor de compras igual para todas as empresas.</p>
				</div>
			</div>
			<!-- 2.7 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">2.7 Cotar fretes de compras e buscar preços e condições melhores</div>
					<p class="em09">Verificar quais são as transportadoras utilizadas para as entregas das compras, a fim de buscar os melhores preços e as entregas mais rápidas e cômodas. Indicação = Jadlog</p>
				</div>
			</div>
			<!-- 2.8 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">2.8 Solicitar crédito para compras parceladas com fornecedores</div>
					<p class="em09">Entrar em contato com fornecedores para solicitar linhas de crédito para compras parceladas e enviar os documentos necessários. Ex.: notas fiscais de compras com outras empresas.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- 3 - Organizar situação dos funcionários -->
	<section class="container margin-top-25 padding-5 h-center">
		<div class="box b11-12 container">
			<h3 class="margin-top-10" id="organizar3">3 - Organizar situação de funcionários</h3>
			<!-- 3.1 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">3.1 Fazer recibos de vale/passagem</div>
					<p class="em09">Imprimir e preencher recibos de vale ou passagem de todos os funcionários.</p>
				</div>
			</div>
			<!-- 3.2 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">3.2 Enviar para a contabilidade as faltas e horas extras dos funcionários</div>
					<p class="em09">Verificar todas as folhas de ponto dos funcionários e enviar ao contador as faltas, atestados e horas extras todo mês para fechar os contracheques.</p>
				</div>
			</div>
			<!-- 3.3 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">3.3 Cadastrar passagens (descontando os dias de falta do mês anterior)</div>
					<p class="em09"> Verificar os dias úteis do mês para cadastrar as passagens dos funcionários no sistema.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('3.3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="3.3" class="mobile-box b1 center margin-top-5 padding-5 transition-02-02 em08" style="display: none;">
					<p>Verificar quais os funcionários ativos e cadastrar passagem do mês sempre no último dia útil do mês anterior.</p>
				</div>
			</div>
			<!-- 3.4 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">3.4 Preencher a planilha de pagamento com comissões/metas/HE/sábados</div>
					<p class="em09">Alimentar planilha de pagamento com todas as comissões, metas, sábados, etc.</p>
				</div>
				<div class="box b12 center em08" style="background-color:orange; color:#fff">Em andamento</div>
			</div>
			<!-- 3.5 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">3.5 Verificar pisos salariais e admissões</div>
					<p class="em09">Verificar junto ao sindicato de cada cargo os possíveis reajustes salariais.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('3.5', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="3.5" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<p>Conferir reajustes salariais sempre que houver e passar para o contador.</p>
				</div>
			</div>
			<!-- 3.6 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">3.6 Criar e organizar o livro de funcionários das empresas</div>
					<p class="em09">  Trabalhar junto com o contador para organizar as fichas de funcionários e ter os livros de funcionários preenchidos com as informações obrigatórias.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('3.6', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="3.6" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<p>Como existem 2 empresas com funcionários, deverão haver 2 livros de funcionários ativos, com a numeração correta. É necessário conferir com o contador como funciona esse trâmite para que não acha id de funcionário duplicado.</p>
					<img class="image-fit size-500" src="https://cdnstatic8.com/mecpapelaria.com.br/wp-content/uploads/2020/02/empregado.jpg">
				</div>
			</div>
		</div>
	</section>

	<!-- 4 - Fiscalizãção -->
	<section class="container margin-top-25 padding-5 h-center">
		<div class="box b11-12 container">
			<h3 class="margin-top-10" id="organizar4">4 - Fiscalização</h3>
			<!-- 4.1 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">4.1 Enviar XML das vendas para a contabilidade</div>
					<p class="em09">Enviar os XML de notas fiscais todo mês ao contador referente a todas as empresas.</p>
				</div>
				<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('4.1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

				<div id="4.1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
					<p>Os XML podem ser recolhidos no Bling <a href="https://ajuda.bling.com.br/hc/pt-br/articles/360035753933-Como-exportar-o-XML-das-notas-">desse jeito.</a></p>
					<p>Os XML podem ser recolhidos no Mercado Libre <a href="https://www.mercadolivre.com.br/ajuda/Notas_Fiscais_ja_emiti_3921">desse jeito.</a></p>
					<p>Todos deverão ser enviados por e-mail para o contador.</p>
				</div>
			</div>
			<!-- 4.2 -->
			<div class="box b1 container ground border-lg-st transition-02-02 padding-10 margin-top-10 radius-5">
				<div class="mobile-box b11-12 padding-5">
					<div class="lucida-grande bold">4.2 Fazer o balanço de notas fiscais (valor limite para cada empresa)</div>
					<p class="em09">Equilibrar os valores de notas fiscais de venda para cada empresa.</p>
				</div>
				<div class="box b12 center em08" style="background-color:orange; color:#fff">Em andamento</div>
			</div>
		</div>
	</section>
</body>
<footer>
	<% include ./../../partials/footer %>
</footer>
</html>