<div id="leadlp-filter-box" class="box b2-3 container ground border radius-5 padding-5 margin-top-5">
  <div id="leadlp-filter-div" class="box b1 container ground"></div>
  <% include ./../../../../partials/carousel %>
</div>