<form id="filigran-filter-form" style="display:none;">
  <input type="hidden" name="product_id" value="">
  <input type="submit" name="submit">
</form>

<div id="filigran-filter-box" class="box b1 container border-st padding-5 margin-top-5">
  <div class="box b1 underline lucida-grande em09 bold center">Processos de costura automática</div>
  <div id="filigran-filter-div" class="box b1 container"></div>
</div>