<div id="purchase-filter-box" class="box b1 container margin-bottom-50">
  <div class="box a2-3 underline lucida-grande center">Pedidos ag. recebimento</div>
  <div id="purchase-filter-div" class="box b1 container h-center"></div>
</div>