<html>
<head>
  <% include ./../partials/head %>

  <!-- #193073 -->
  <!-- #0e9af1 -->
  <!-- #3eaef4 -->
  <!-- #6ec2f7 -->
  <!-- #9fd7f9 -->

  <style type="text/css">
    :root {
      --ground: #fff;
      --background: #f7f7ff;
      --light: #cfcfff;
      --solid: #9fd7f9;
      --disabled: #9e9eff;
      --strong: #5151ff;
      --color: #2222ff;
    }

    .blue1 { background-color: #193073 }
    .blue2 { background-color: #0e9af1 }
    .blue3 { background-color: #3eaef4 }
    .blue4 { background-color: #6ec2f7 }
    .blue5 { background-color: #9fd7f9 }

    .box-hover { background-color: var(--background); }
    .box-hover:hover { background-color: var(--solid); }

    .shadow { box-shadow:1px 1px 3px var(--light); }

  </style>

</head>
<body>
  <% include ./../partials/header %>
  <% include ./../partials/nav %>

  <section class="container h-center">
    <div class="box b6 container ground padding-10 radius-5 shadow">
      <img src="images/icon/bill.png" class="mobile-box b4 image-prop">
      <div class="mobile-box b3-4 lucida-grande bold center">Recursos Humanos</div>

      <div class="box b1 container">
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Contratação</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Onboarding</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Demissão</div>
      </div>
    </div>

    <div class="box b6 container ground padding-10 radius-5 shadow">
      <img src="images/icon/bill.png" class="mobile-box b4 image-prop">
      <div class="mobile-box b3-4 lucida-grande bold center">Recursos Humanos</div>

      <div class="box b1 container">
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Contratação</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Onboarding</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Demissão</div>
      </div>
    </div>

    <div class="box b6 container ground padding-10 radius-5 shadow">
      <img src="images/icon/bill.png" class="mobile-box b4 image-prop">
      <div class="mobile-box b3-4 lucida-grande bold center">Recursos Humanos</div>

      <div class="box b1 container">
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Contratação</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Onboarding</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Demissão</div>
      </div>
    </div>

    <div class="box b6 container ground padding-10 radius-5 shadow">
      <img src="images/icon/bill.png" class="mobile-box b4 image-prop">
      <div class="mobile-box b3-4 lucida-grande bold center">Recursos Humanos</div>

      <div class="box b1 container">
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Contratação</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Onboarding</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Demissão</div>
      </div>
    </div>

    <div class="box b6 container ground padding-10 radius-5 shadow">
      <img src="images/icon/bill.png" class="mobile-box b4 image-prop">
      <div class="mobile-box b3-4 lucida-grande bold center">Recursos Humanos</div>

      <div class="box b1 container">
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Contratação</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Onboarding</div>
        <div class="box b1 ground em09 padding-5 margin-top-5 radius-5 box-hover">Demissão</div>
      </div>
    </div>
  </section>
  <% include ./../partials/loader %>
</body>
<footer>
  <% include ./../partials/footer %>

  <script>
    lib.updateCssVariable = (origin, variable, content) => {
      let root = document.querySelector(origin).style;
      root.setProperty(variable, content);
    };

    lib.updateCssVariable()
  </script>

</footer>
</html>
