<html>
<head>
    <% include ./../partials/head %>
</head>
<body>
<% include ./../partials/header %>
<% include ./../partials/nav %>
<section>
    <div class="container">
        <div class="box b1 underline em15 lucida-grande center bold">Documentação JA Rio Militar</div>
        <div class="box b3 padding-10 margin-top-10">
            <h1 class="lucida-grande underline">E-commerce</h1>
            <p><a href="/documentation/ecommerce/asks" class="underline-link lucida-grande">Perguntas e respostas</a></p>
            <p><a href="/documentation/ecommerce/gathering" class="underline-link lucida-grande">Coleta de informações</a></p>
            <p><a href="/documentation/ecommerce/solution" class="underline-link lucida-grande">Devoluções / Soluções</a></p>
        </div>

        <div class="box b3 padding-10 margin-top-10">
            <h1 class="lucida-grande underline">Comercial</h1>
            <p><a href="/documentation/commercial/nf" class="underline-link lucida-grande">Nota Fiscal Eletrônica</a></p>
        </div>

        <div class="box b3 padding-10 margin-top-10">
            <h1 class="lucida-grande underline">Administração</h1>
            <p><a href="/documentation/admin/main" class="underline-link lucida-grande">Financeiro / RH</a></p>
        </div>
    </div>
</section>
    <% include ./../partials/loader %>
</body>
<footer>
    <% include ./../partials/footer %>
</footer>
</html>