<html>
    <head>
        <% include ./../../partials/head %>
    </head>
    <body>
        <% include ./../../partials/header %>
        <% include ./../../partials/nav %>
        <section class="container">
                    
        </section>
    </body>
</html>