<form id="receipt-filter-form" class="box b2-3 container ground border radius-5 padding-5 margin-top-5">
  <div class="box b1 underline lucida-grande bold margin-top-5 center">Filtrar Recebimentos</div>
  <input type="text" name="" class="">
  <input type="submit" name="submit" value="Buscar" class="box b1 lucida-grande bold submit-generic margin-top-5">
</form>

<div id="receipt-filter-box" class="box b2-3 container">
  <div id="receipt-filter-div" class="box b1 container"></div>
</div>