<div id="outcome-check-form" class="box b1 container border-explicit-2 margin-top-5 padding-5" style="display:none;">
  <input type='radio' name='origin_payment_id' class='mobile-box b9 center' value='Cheque'
    onclick="setPaymentMethod('Cheque')">
  <div class="mobile-box b8-9 underline lucida-grande bold margin-top-5 center">Cheque</div>
  <div class="box b3 container margin-top-5">
    <div class="box b3 em08 georgia">Banco</div>
    <input type="text" name="check_bank" class="box b1 georgia input-generic center" placeholder="Banco recebedor"
      autocomplete="off" maxlength="45">
  </div>
  <div class="box b2-3 container margin-top-5">
    <div class="box b1 em08 georgia">Favorecido</div>
    <input type="text" name="check_receiver" class="box b1 georgia input-generic center"
      placeholder="Nome do beneficiário" autocomplete="off" maxlength="45">
  </div>
  <div class="box b1 container margin-top-5">
    <div class="box b1 em08 georgia">Nº do cheque</div>
    <input type="text" name="check_number" class="box b1 georgia input-generic center" placeholder="Nº do cheque"
      autocomplete="off" maxlength="100">
  </div>
</div>