<form id="task-filter-form" class="box b1 container">
  <input type="hidden" name="user_id" value="<%= user.id %>">
  <input type="submit" name="submit" value="Listar tarefas" class="box b3 btn-act padding-5 margin-top-5">
</form>