<div id="conference-detail-box" class="box b1 container ground border radius-5 padding-10 margin-top-10 margin-bottom-10" style="display:none;">
	<div class="box b1 lucida-grande bold underline center">Conferências</div>
  <div id="conference-detail-div" class="box b1 container"></div>
</div>