<div class="box b1 container underline margin-top-10">
  <div class='mobile-box b9 center'><img class='icon size-40' src='/images/icon/billet.png'
      onclick="displayPaymentMethod('Boleto', this)"></div>
  <div class='mobile-box b9 center'><img class='icon size-50' src='/images/icon/bank-check.png'
      onclick="displayPaymentMethod('Cheque', this)"></div>
  <div class="mobile-box b5-9 lucida-grande em11 bold center">Método de pagamento</div>
</div>

<div id="payment-method-box" class="box b1 container">
  <%- include('./box/billet.ejs') %>
  <%- include('./box/check.ejs') %>
  <div id="origin-payment-box" class="box b1 container"></div>
</div>

<%- include('./script.ejs') %>