<form id="purchase-filter-form" class="box b2-3 container border padding-5">
  <select name="supplier_id" class="box b3 lucida-grande bold padding-5 margin-top-5 center">
    <option value="">Fornecedor</option>
    <% for(i in suppliers) { %>
    <option value="<%= suppliers[i].id %>"><%= suppliers[i].brand %></option>
    <% } %>
  </select>

  <select name="status" class="box b3 lucida-grande bold padding-5 margin-top-5 center">
    <option value="Ag. aprovação">Ag. aprovação</option>
    <option value="Confirmado">Confirmado</option>
  </select>

  <input type="submit" name="submit" class="box b3 btn-act lucida-grande bold noborder padding-7 margin-top-5 pointer">
</form>