<html>
<head>
	<% include ./../../partials/head %>
</head>
<body>
	<% include ./../../partials/header %>
	<% include ./../../partials/nav %>

	<section class="container">
		Manage
	</section>
	<% include ./../../partials/loader %>
</body>
<footer>
	<% include ./../../partials/footer %>
</footer>
</html>