<div id="feedstock-report-box" class="box b1 container ground border radius-5 padding-5 margin-top-5"
  style="display:none">
  <div id="feedstock-report-div" class="box a1 container"></div>
  <%- include('./../../../../../partials/carousel.ejs') %>
</div>