<div id="production-detail-box" class="box b1 container" style="display:none;">
  <div id="production-detail-div" class="box b1 container"></div>
  <form id="production-prepare-form" class="box b1 container h-center" style="display:none;">
    <div class="mobile-box b2 center padding-5 margin-top-5">Quantidade de malotes:</div>
    <input type="hidden" name="id" value="">
    <input type="number" name="volume" class="mobile-box b6 lucida-grande em11 bold input-generic border-bottom center"
      step="1" value="" placeholder="0" onfocus="if(this.value < 1){this.value=''}"
      onblur="if(this.value < 1){this.value=''}" autocomplete="off" required />
    <input type="submit" name="submit"
      class="box b1 btn-act bold noborder radius-5 padding-10 margin-top-5 center noselect pointer"
      value="Confirmar preparação">
  </form>


</div>