<div id="product-dropdown-btn"
  class="box b1 em15 bold border-st shadow-lg-st radius-5 padding-15 margin-top-5 center pointer"
  onclick="productDropdownDisplay(this)">
  Registrar outro produto
</div>
<div id="product-dropdown-box" class="mobile-box b1 container ground dropdown margin-top-5" style="display: none;">
  <input type="text" id="product-dropdown-input" data-id=""
    class="mobile-box a11-12 lucida-grande em15 bold border-st radius-5 nofocus padding-15 center"
    oninput="productDropdown(this)" placeholder="Nome do produto" autocomplete="off" role="presentation">

  <div class="mobile-box b12 radius-5 padding-10 center opacity-out-09 pointer" style="background-color: #FF0000;"
    onclick="productDropdownDisplay(this)"><img src="/images/icon/close-white.png" class="image-prop size-25">
  </div>

  <div id="product-dropdown-content" class="box a1 ground dropdown-content"></div>
</div>