<form id="prospect-filter-form" class="box b1 container ground radius-5 margin-top-5">
    <input type="text" name="brand" class="mobile-box b3-4 lucida-grande bold border padding-5 margin-top-5 center" placeholder="Nome da Empresa" autocomplete="off">
    <select name="state" class="mobile-box b4 lucida-grande bold border padding-4 margin-top-5 center">
        <option selected value="">Estado</option>
    </select>
    <input type="date" name="period-start" class="mobile-box b5-11 lucida-grande bold border padding-5 margin-top-5 center">
    <input type="date" name="period-end" class="mobile-box b5-11 lucida-grande bold border padding-5 margin-top-5 center">
    <button type="submit" name="submit" class="mobile-box b11 noborder margin-top-5 center"><img class="size-25 icon" src="/images/icon/search.png"></button>
</form>

<div id="prospect-filter-box" class="box b1 container ground radius-5 margin-top-5">
	<div id="prospect-filter-div" class="box b1 container height-300 scroll-y"></div>
</div>