<div class="p-box a3 container padding-10 center">
  <img class="image-prop center" src="/images/logo/transportadoras/azul-cargo.png">
</div>
<div class="p-box a2-3 container">
  <div class="p-box b2 lucida-grande">Av. Alm. Silvio de Noronha, 399</div>
  <div class="p-box b2 lucida-grande">CNPJ: 09.296.295/0001-60</div>
  <div class="p-box b1 lucida-grande">Cidade/UF: Rio de Janeiro - RJ</div>
  <div class="p-box b2 lucida-grande">CEP: 20021-010</div>
  <div class="p-box b2 lucida-grande">Telefone: (21) 3827-1010</div>
</div>