<div class="p-box a3 container padding-10 center">
  <img class="image-prop center" src="/images/logo/transportadoras/braspress.png">
</div>
<div class="p-box a2-3 container">
  <div class="p-box b2 lucida-grande">Endereço: Avenida Piracema, 155</div>
  <div class="p-box b2 lucida-grande">CNPJ: 73.939.449/0001-93 <br> I.E: 206.214.714.111</div>
  <div class="p-box b1 lucida-grande">Cidade/UF: Barueri - SP</div>
  <div class="p-box b2 lucida-grande">CEP: 06460-030</div>
  <div class="p-box b2 lucida-grande">Telefone: (11) 3627-5900</div>
</div>