<div class="p-box a3 container padding-10 center">
  <img class="image-prop center" src="/images/logo/transportadoras/braspress.png">
</div>
<div class="p-box a2-3 container">
  <div class="p-box b2 lucida-grande">Av. Arthur Antônio Sendas, 1200</div>
  <div class="p-box b2 lucida-grande">CNPJ: 48.740.351/0001-65</div>
  <div class="p-box b1 lucida-grande">Cidade/UF: São João de Meriti - RJ</div>
  <div class="p-box b2 lucida-grande">CEP: 25585-021</div>
  <div class="p-box b2 lucida-grande">Telefone: (21) 3668-3500</div>
</div>