<div class="p-box a3 container padding-10 center">
  <img class="image-prop center" src="/images/logo/transportadoras/correios.png">
</div>
<div class="p-box a2-3 container">
  <div class="p-box b2 lucida-grande">Endereço: AV Presidente Vargas, 3077</div>
  <div class="p-box b2 lucida-grande">CNPJ: 34.028.316/0002-94</div>
  <div class="p-box b1 lucida-grande">Cidade/UF: Rio de Janeiro - RJ</div>
  <div class="p-box b2 lucida-grande">CEP: 20.210-900</div>
  <div class="p-box b2 lucida-grande">Telefone: (21) 3503-8113</div>
</div>