<div class="p-box a3 container padding-10 center">
  <img class="image-prop center" src="/images/logo/transportadoras/fedex.png">
</div>
<div class="p-box a2-3 container">
  <div class="p-box b2 lucida-grande">Rodovia Presidente Dutra, Km 228 Km 228</div>
  <div class="p-box b2 lucida-grande">CNPJ: 10.970.887/0001-02</div>
  <div class="p-box b1 lucida-grande">Cidade/UF: GUARULHOS - SP</div>
  <div class="p-box b2 lucida-grande">CEP: 07034-010</div>
  <div class="p-box b2 lucida-grande">Telefone: 0800 703 3339</div>
</div>