<div class="p-box a3 container padding-10 center">
  <img class="image-prop center" src="/images/logo/transportadoras/hawk-transportes.png">
</div>
<div class="p-box a2-3 container">
  <div class="p-box b2 lucida-grande">Estr. dos Bandeirantes, 28131</div>
  <div class="p-box b2 lucida-grande">CNPJ: 36.339.969/0001-39</div>
  <div class="p-box b1 lucida-grande">Cidade/UF: Vargem Grande - RJ</div>
  <div class="p-box b2 lucida-grande">CEP: 22785-276</div>
  <div class="p-box b2 lucida-grande">Telefone: (21) 97489-0483</div>
</div>