<div class="p-box a3 container padding-10 center">
  <img class="image-prop center" src="/images/logo/transportadoras/jadlog.png">
</div>
<div class="p-box a2-3 container">
  <div class="p-box b2 lucida-grande">Endereço: Rua Canada, 475</div>
  <div class="p-box b2 lucida-grande">CNPJ: 04.884.082/0013-79</div>
  <div class="p-box b1 lucida-grande">Cidade/UF: CANOAS - RS</div>
  <div class="p-box b2 lucida-grande">CEP: 92420-180</div>
  <div class="p-box b2 lucida-grande">Telefone: (11) 3563-2000</div>
</div>