<div class="p-box a3 container padding-10 center">
  <img class="image-prop center" src="/images/logo/transportadoras/latam.png">
</div>
<div class="p-box a2-3 container">
  <div class="p-box b2 lucida-grande">Endereço: Avenida Helio Smidt, S/N</div>
  <div class="p-box b2 lucida-grande">CNPJ: 02.012.862/0169-10</div>
  <div class="p-box b1 lucida-grande">Cidade/UF: GUARULHOS - SP</div>
  <div class="p-box b2 lucida-grande">CEP: 07143-970</div>
  <div class="p-box b2 lucida-grande">Telefone: (11) 5582-9351</div>
</div>