<div id="emitter-interface-prospect" class="box a1 padding-10" style="display:none;">
	<div class="box b1 underline lucida-grande bold margin-top-5 center">Prospects</div>
	<%- include('./prospect/filter-form.ejs') %>
</div>