<div id="emitter-interface-customer" class="box a1 padding-10">
	<div class="box b1 underline lucida-grande bold margin-top-5 center">Clientes</div>
	<%- include('./customer/filter-form.ejs') %>
</div>