<div id="emitter-customer-btn" class="mobile-box a3 lucida-grande em09 bold border-st padding-5 center pointer noselect" onclick="changeInterface('customer')">Clientes</div>
<div id="emitter-lead-btn" class="mobile-box a3 box-hover lucida-grande em09 bold border padding-5 center pointer noselect" onclick="changeInterface('lead')">Leads</div>
<div id="emitter-prospect-btn" class="mobile-box a3 box-hover lucida-grande em09 bold border padding-5 center pointer noselect" onclick="changeInterface('prospect')">Prospects</div>