<div id="emitter-interface-lead" class="box a1 padding-10" style="display:none;">
	<div class="box b1 underline lucida-grande bold margin-top-5 center">Leads</div>
	<%- include('./lead/filter-form.ejs') %>
</div>