<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<header>
			<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="image" src="/images/favicon.png"></div>
			<div class="right">
				<% if (user.access == 'adm') { %>
	            	<a class="active" href="/admin">Admin</a>
	            <% } %>
				<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-1">
					<h3 class="underline">Controle de estoque</h3>
				</div>
				<div class="box-2">
					<h3 class="underline">Entrada</h3>
				</div>
				<div class="box-2">
					<h3 class="underline">Saída</h3>
					
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
		<script src="/javascripts/scripts/feedstock/storage.js"></script>
	</footer>
</html>