<html>

<head>
  <%- include('./../../../partials/head.ejs') %>
  <style>

  </style>
</head>

<body>
  <%- include('./../../../partials/nav.ejs') %>
  <section class="container h-center">

  </section>
  <%- include('./../../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/production/main.js"></script>
  <script>
    function criarDropdown(inputSelector, arr) {
      const button = document.querySelector(inputSelector);

      if (!button) {
        console.error('Elemento não encontrado:', inputSelector);
        return;
      }

      const dropdown = document.createElement('div');
      dropdown.className = 'dropdown';

      button.className += ' dropdown-button';
      button.onclick = function (event) {
        event.stopPropagation();
        const content = this.nextElementSibling;
        content.style.display = content.style.display === 'block' ? 'none' : 'block';
      };

      const content = document.createElement('div');
      content.className = 'dropdown-content';
      content.onclick = function (event) {
        event.stopPropagation();
      };

      for (let i = 0; i < arr.length; i++) {
        const item = document.createElement('a');
        item.textContent = arr[i];
        content.appendChild(item);
      };

      dropdown.appendChild(button);
      dropdown.appendChild(content);

      const container = document.getElementById('dropdown-container');
      container.appendChild(dropdown);
    };

    // Exemplo de uso:
    const arr = ['Opção 1', 'Opção 2', 'Opção 3', 'Opção 4'];
    criarDropdown('#custom-dropdown-button', arr);

    // Fechar dropdown ao clicar fora
    document.addEventListener('click', function (event) {
      const dropdownContent = document.querySelector('.dropdown-content');
      if (dropdownContent.style.display === 'block') {
        dropdownContent.style.display = 'none';
      }
    });
  </script>
</footer>

</html>