<form id="outcome-filter-form" class="box b1 container ground border radius-5 padding-5 margin-top-5">
	<input type="date" name="periodStart" class="box b4 input-generic center margin-top-5">
	<input type="date" name="periodEnd" class="box b4 input-generic center margin-top-5">
	<select name="report_type" class="box b4 input-generic center margin-top-5">
		<option value="category">Por categoria</option>
		<option value="cost_type">Por tipo de custo</option>
	</select>
	<select name="status" class="box b6 input-generic margin-top-5">
		<option value="">Selecionar status</option>
		<option value="Ag. aprovação">Ag. aprovação</option>
		<option value="A pagar">A pagar</option>
		<option value="Pago">Pago</option>
	</select>
	<button type="submit" name="submit" class="mobile-box b12 noborder margin-top-5 center"><img class="size-25 icon"
			src="/images/icon/search.png"></button>
</form>