<div id="catalog-detail-box" class="box b2-3 container ground border-st radius-5 padding-5 margin-top-5 h-center"
  style="display:none;">
  <div id="catalog-detail-div" class="box b1 container padding-5 margin-top-10"></div>
  <%- include('./filter.ejs') %>
</div>

<div id="catalog-product-box" class="box b2 container ground border-st radius-5 padding-5 margin-top-10"
  style="display:none;">
  <%- include('./../product/dropdown.ejs') %>
  <div id="catalog-product-div" class="box b1 container ground border-st radius-5 padding-5 margin-top-10"></div>
</div>

<div id="catalog-package-box" class="box b2 container ground border-st radius-5 padding-5 margin-top-10"
  style="display:none;">
  <%- include('./../package/dropdown.ejs') %>
  <div id="catalog-package-div" class="box b1 container ground border-st radius-5 padding-5 margin-top-10"></div>
</div>