<form id="catalog-product-filter-form" class="box b1 container border radius-5 padding-5 margin-top-10">
  <div class="box b1 underline lucida-grande em08 bold center">Filtrar produtos e pacotes do catálogo</div>
  <input type="hidden" id="catalog-id" name="catalog_id" value="">
  <input type="text" name="code" class="box b4 input-generic lucida-grande bold margin-top-5 center"
    placeholder="Código do produto" role="presentation" autocomplete="off">
  <input type="text" name="name" class="box b2 input-generic lucida-grande bold margin-top-5 center"
    placeholder="Nome do produto" role="presentation" autocomplete="off">
  <input type="submit" name="submit" class="box b4 submit-generic margin-top-5" value="filtrar">
</form>