<form id="prospect-filter-form" class="box b3-4 container ground border radius-5 padding-5 margin-top-5">
	<input type="text" name="brand" class="mobile-box b3-5 input-generic margin-top-5 center" placeholder="Nome da Empresa" autocomplete="off">
	<select name="status" class="mobile-box b5 input-generic margin-top-5">
		<option selected value="">Status</option>
		<option value="1º contato">1º contato</option>
		<option value="Contatar loja novamente">Contatar loja novamente</option>
		<option value="Contato com responsável">Contato com responsável</option>
		<option value="Lista de transmissão">Lista de transmissão</option>
	</select>
	<select name="state" class="mobile-box b5 input-generic margin-top-5">
		<option selected value="">Estado</option>
	</select>
	<input type="date" name="period-start" class="mobile-box b5-11 input-generic center margin-top-5 center">
	<input type="date" name="period-end" class="mobile-box b5-11 input-generic center margin-top-5 center">
	<button type="submit" name="submit" class="mobile-box b11 noborder margin-top-5 center"><img class="size-25 icon" src="/images/icon/search.png"></button>
</form>

<div id="prospect-filter-box" class="box b1 container margin-top-10 margin-bottom-50">
	<div id="prospect-filter-div" class="box a1 container"></div>
</div>