<form id="mailer-filter-form" class="box b1 container ground border radius-5 padding-5 margin-top-5" style="display:none;">
    <input type="text" name="brand" class="mobile-box b3-4 input-generic margin-top-5 center" placeholder="Nome da Empresa" autocomplete="off">
    <button type="submit" name="submit" class="mobile-box b11 noborder margin-top-5 center"><img class="size-25 icon" src="/images/icon/search.png"></button>
</form>