<form id="prospect-mailer-filter-form" class="box b1 container ground border radius-5 padding-5 margin-top-5">
    <input type="text" name="brand" class="mobile-box b3 input-generic margin-top-5 center" placeholder="Nome da Empresa" autocomplete="off">
    <input type="text" name="manager" class="mobile-box b3 input-generic margin-top-5 center" placeholder="Nome do Responsável" autocomplete="off">
    <input type="text" name="email" class="mobile-box b3 input-generic margin-top-5 center" placeholder="E-mail" autocomplete="off">
    <select name="status" class="mobile-box b3 input-generic margin-top-5 center">
        <option value="">Status do prospect</option>
    	<option value="Contatar loja novamente">Contatar loja novamente</option>
    	<option value="Contato com responsável">Contato com responsável</option>
    	<option value="Lista de transmissão">Lista de transmissão</option>
    </select>
    <select name="mailer-sub" class="mobile-box b3 input-generic margin-top-5 center">
    	<option value="1">Inscrito</option>
    	<option value="0">Inscrição cancelada</option>
    </select>
    <button type="submit" name="submit" class="mobile-box b3 noborder margin-top-5 center"><img class="size-25 icon" src="/images/icon/search.png"></button>
</form>