<!-- <div class='copyright'>
    © J.A Rio Militar 2019 - All Rights Reserved | .
</div> -->

<script src="http://127.0.0.1:3000/front-end/javascripts/essentials/lib.js?v=1.4"></script>
<script src="http://127.0.0.1:3000/front-end/javascripts/essentials/api.js?v=1.4"></script>

<!-- <script src="https://seal-app-bv3qd.ondigitalocean.app/front-end/javascripts/essentials/lib.js?v=1.6"></script>
<script src="https://seal-app-bv3qd.ondigitalocean.app/front-end/javascripts/essentials/api.js?v=1.6"></script> -->