<!-- <div class='copyright'>
    © J.A Rio Militar 2019 - All Rights Reserved | .
</div> -->

<!-- <script src="https://jaframework.herokuapp.com/front-end/javascripts/essentials/lib.js"></script>
<script src="https://jaframework.herokuapp.com/front-end/javascripts/essentials/api.js"></script> -->

<!-- <script src="http://127.0.0.1:3000/front-end/javascripts/essentials/lib.js"></script>
<script src="http://127.0.0.1:3000/front-end/javascripts/essentials/api.js"></script> -->

<script src="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/lib.js"></script>
<script src="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/api.js"></script>

<script>
    lib.firstDayOfMonth = () => {
        let date = lib.timestampToDate(lib.genTimestamp()).split("-");
        return `01-${date[1]}-${date[2]}`;
    };
</script>