<meta charset="utf-8">
<title>ERP JA Rio Militar</title>
<meta name="viewport" content="width=device-width, user-scalable=no">

<!-- Digital ocean -->
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/main.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/loader.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/carousel.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/elements.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/visual.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/dropdown.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/sidenav.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/actions.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/size.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/position.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/image.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/tooltip.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/box.css?v=1.6">
<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/responsivity.css?v=1.6">

<link rel="stylesheet" type="text/css"
	href="https://seal-app-bv3qd.ondigitalocean.app/front-end/stylesheets/fonts.css?v=1.6">

<!-- Local framework -->
<!-- <link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/main.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/loader.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/carousel.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/elements.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/visual.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/dropdown.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/sidenav.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.c0.0.1:3000/front-end/stylesheets/actions.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/size.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/position.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/image.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/tooltip.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/box.css?v=1.6">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/responsivity.css?v=1.6">

<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/fonts.css?v=1.6"> -->

<style type="text/css">
	.msg-window {
		z-index: 5;
		position: absolute;
		/*background-color: var(--light);*/
	}

	.sidenav {
		height: 100%;
		width: 0;
		position: fixed !important;
		z-index: 6;
		top: 0;
		right: 0;
		background-color: var(--background);
		transition: 0.7s;
		padding-top: 40px;
		overflow-y: auto;
		overflow-x: hidden;
	}
</style>

<script type="text/javascript">
	// Include in lib
	function openPrintWindow(url, name, specs) {
		let printWindow = window.open(url, name, specs);
		let printAndClose = function () {
			if (printWindow.document.readyState == 'complete') {
				clearInterval(sched);
				printWindow.print();
				printWindow.close();
			}
		}
		let sched = setInterval(printAndClose, 200);
	};
</script>