<div id="msg" class="msg" style="display: none;">
  <div class="msg-popup mobile-box b3-4 container border-st radius-5 padding-10 ">
    <div class="mobile-box a12"></div>
    <div class="mobile-box a5-6 center"><img src="/images/icon/alert.png" class="image-prop size-30 noselect">
    </div>
    <div class="mobile-box a12 center"><img src="/images/icon/close.png" class="image-prop size-20 icon"
        onclick="lib.display('msg', 'none')"></div>

    <div id="msg-content" class="box a1 container min-height-150"></div>
  </div>
</div>