<form id="seam-filter-form" style="display:none;">
  <input type="hidden" name="product_id" value="">
  <input type="submit" name="submit">
</form>

<div id="seam-filter-box" class="box b1 container border-st padding-5 margin-top-5">
  <div class="box b1 underline lucida-grande em09 bold center">Processos de costura manual</div>
  <div id="seam-filter-div" class="box b1 container"></div>
</div>