<div class="mobile-box b11-12 em12 lucida-grande bold center">Selecionar E-mail</div>
<div class="mobile-box b12 container center"><img src="/images/icon/up-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('mail-selector', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

<div id="mail-selector" class="box b1 container ground padding-10">
	<%- include('./filter-form.ejs') %>
</div>