<script>
	async function mailPreview(mail_id) {
		const mail = await API.response(Mail.findById, mail_id);
		if(!mail) { return false; }

		lib.display("mailer-mail-preview-window", "");

		mailRender(mail, "mailer-mail-preview");
	};

	function mailRender (mail_mail, preview_div) {
		let splitedContent = lib.splitTextBy(mail_mail.content, "\n");
		let templatedContent = "";

		for(let i in splitedContent) {
			if(i == 0) {
				templatedContent += splitedContent[i] == "" ? "<br>" : `<p style='margin-left:10px;font-family:georgia;font-size:0.8em;'>${splitedContent[i]}</p>`;
			} else {
				templatedContent += splitedContent[i] == "" ? "<br>" : `<p style='margin-left:10px;margin-top:10px;font-family:georgia;font-size:0.8em;'>${splitedContent[i]}</p>`;
			}
		};

		let info_box = document.getElementById(`${preview_div}-info`);
		info_box.innerHTML = "";

		info_box.append(lib.element.create("div", { class: "mobile-box b5 lucida-grande bold em09" }, `JA Rio Militar`));
		info_box.append(lib.element.create("div", { class: "mobile-box b4-5 lucida-grande em09" }, `<b>${mail_mail.subject}</b> - ${mail_mail.text}`));

		let content_box = document.getElementById(`${preview_div}-content`);
		content_box.innerHTML = "";

		for(let i in templatedContent) {
			content_box.innerHTML = templatedContent;
		};
	};

	async function mailSelect(mail_id, input) {
		const mail = await API.response(Mail.findById, mail_id);
		if(!mail) { return false; }

		lib.display("mailer-mail-selected-label", "");
		lib.display("mailer-mail-selected-box", "");
		lib.display("interface-menu-box", "");

		document.getElementById("mailer-mail-selected-id").value = mail_id;
		document.getElementById("mailer-mail-selected-label").innerHTML = "";
		document.getElementById("mailer-mail-selected-label").append(lib.element.create("div", { class: "box b1 lucida-grande bold em08 center" }, "E-mail Selecionado:"));
		document.getElementById("mailer-mail-selected-label").append(lib.element.create("div", { class: "box b1 lucida-grande bold center" }, `#${mail.id} - ${mail.title}`));

		mailRender(mail, "mailer-mail-selected");
	};
</script>