<div id="mailer-mail-selected-box" class="box b2-3 container ground border-st radius-5 padding-10 margin-top-10" style="display:none;">
	<div id="mailer-mail-selected-label" class="mobile-box b11-12 lucida-grande bold padding-5 center" style="display:none;"></div>
	<div class="mobile-box b12 container center"><img src="/images/icon/up-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('mailer-mail-selected-preview', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

	<div id="mailer-mail-selected-preview" class="box b1 container h-center">
		<input type="hidden" id="mailer-mail-selected-id" value="">

		<div id="mailer-mail-selected-info" class="box b1 container ground border radius-5 padding-10 margin-top-5"></div>
		<div id="mailer-mail-selected-content" class="box b1 ground border radius-5 padding-10 margin-top-5"></div>
	</div>
</div>