<form id="customer-filter-form" class="box b1 container margin-top-5">
	<input type="text" name="id" class="box b3 lucida-grande bold border padding-5 margin-top-5 center nofocus" placeholder="Id">
	<input type="text" name="name" class="box b2-3 lucida-grande bold border padding-5 margin-top-5 center nofocus" placeholder="Nome">
	<input type="text" name="brand" class="box b2 lucida-grande bold border padding-5 margin-top-5 center nofocus" placeholder="Nome fantasia">
	<input type="text" name="trademark" class="box b2 lucida-grande bold border padding-5 margin-top-5 center nofocus" placeholder="Razão Social">
	<input type="text" name="cpf" class="box b5-11 lucida-grande bold border padding-5 margin-top-5 center nofocus" placeholder="CPF">
	<input type="text" name="cnpj" class="box b5-11 lucida-grande bold border padding-5 margin-top-5 center nofocus" placeholder="CNPJ">
  <button type="submit" name="submit" class="mobile-box b11 noborder margin-top-5 center"><img class="size-25 icon" src="/images/icon/search.png"></button>
</form>

<div id="customer-filter-box" class="box b1 container ground radius-5 margin-top-5">
	<div id="customer-filter-div" class="box b1 container height-300 scroll-y"></div>
</div>