<html>
<head>
    <% include ./../partials/head %>
</head>
<style>
	/** { font-weight: bold; }*/
</style>
<body>
	<% include ./../partials/header %>
    <% include ./../partials/nav %>
	<section class="container">
		<form id="expense-create-form" class="box b1 container padding-10">
			<input type="hidden" name="id">
			<div class="box b1 container padding-5 border shadow">
				<div class="box b5 container margin-top-5">
					<div class="box b1 em08 georgia">Data de vencimento</div>
					<input type="date" name="due-date" class="box b1 georgia input-generic center">
				</div>
				<div class="box b2-5 container margin-top-5">
					<div class="box b1 em08 georgia">Descrição da despesa</div>
					<input type="text" name="description" class="box b1 georgia input-generic center" placeholder="Descrição">
				</div>
				<div class="box b5 container margin-top-5">
					<div class="box b1 em08 georgia">Valor do pagamento</div>
                    <input type="number" name="cost" class="box b1 em12 input-generic center bold" step="0.01" value="0.00" onfocus="if(this.value < 0.01){this.value=''}" onblur="if(this.value < 0.01){this.value=parseFloat(0).toFixed(2)}"/>
				</div>
				<div class="box b5 container margin-top-5">
					<div class="box b1 em08 georgia">Categoria do pagamento</div>
					<select id="expense-payment-category" name="payment-category" class="box b1 input-generic georgia">
						<option value="Boleto">Boleto</option>
						<option value="Pix">Pix</option>
						<option value="Transferência bancária">Transferência bancária</option>
					</select>
				</div>
			</div>
			<div id="expense-billet-form" class="box b1 container margin-top-5 padding-5 border-explicit" disabled>
				<div class="box b1 georgia underline center">Boleto</div>
				<div class="box b2 container">
					<div class="box b1 em08 georgia margin-top-5">Favorecido</div>
					<input type="text" name="billet-receiver" class="box b1 georgia input-generic center" placeholder="Nome do recebedor">
				</div>
				<div class="box b2 container">
					<div class="box b1 em08 georgia margin-top-5">Código de barras</div>
					<input type="text" name="billet-key" class="box b1 georgia input-generic center" placeholder="Código de barras">
				</div>
			</div>
			<div id="expense-pix-form" class="box b1 container margin-top-5 padding-5 border-explicit" style="display:none">
				<div class="box b1 georgia underline center">PIX</div>
				<div class="box b2 container">
					<div class="box b1 em08 georgia margin-top-5">Favorecido</div>
					<input type="text" name="pix-receiver" class="box b1 georgia input-generic center" placeholder="Nome do recebedor">
				</div>
				<div class="box b2 container">
					<div class="box b1 em08 georgia margin-top-5">Chave</div>
					<input type="text" name="pix-key" class="box b1 georgia input-generic center" placeholder="Chave Pix">
				</div>
			</div>
			<div id="expense-bank-transfer-form" class="box b1 container margin-top-10 padding-5 border-explicit" style="display:none">
				<div class="box b1 georgia underline center">Transferência bancária</div>
				<div class="box b3 container padding-10">
					<div class="box b1 em08 georgia margin-top-5">Favorecido</div>
					<input type="text" name="bank-transfer-receiver" class="box b1 georgia input-generic center" placeholder="Nome do recebedor">
				</div>
				<div class="box b3 container padding-10">
					<div class="box b1 em08 georgia margin-top-5">CPF / CNPJ</div>
					<input type="text" name="bank-transfer-register" class="box b1 georgia input-generic center" placeholder="CPF ou CNPJ do recebedor">
				</div>
				<div class="box b3 container padding-10">
					<div class="box b1 em08 georgia margin-top-5">Banco</div>
					<input type="text" name="bank-transfer-bank" class="box b1 georgia input-generic center" placeholder="Banco">
				</div>
				<div class="box b3 container padding-10">
					<div class="box b1 em08 georgia margin-top-5">Agência</div>
					<input type="text" name="bank-transfer-agency" class="box b1 georgia input-generic center" placeholder="Nº da agência">
				</div>
				<div class="box b3 container padding-10">
					<div class="box b1 em08 georgia margin-top-5">Conta</div>
					<input type="text" name="bank-transfer-account" class="box b1 georgia input-generic center" placeholder="Nº da conta">
				</div>
				<div class="box b3 container padding-10">
					<div class="box b1 em08 georgia margin-top-5">Categoria</div>
					<input type="text" name="bank-transfer-category" class="box b1 georgia input-generic center" placeholder="Tipo de conta">
				</div>
			</div>
			<input type="submit" name="submit" value="Cadastrar despesa" class="box b1 margin-top-5 submit-generic">
		</form>
	</section>
	<div id="ajax-loader" class="ajax-loader">
		<div class="loader"></div>
	</div>
</body>
<footer>
    <% include ./../partials/footer %>
    <% include ./partial %>
</footer>
</html>