<div id="outcome-filter-box" class="box b1 container ground border-st radius-5 padding-5 margin-top-5">
  <div class="box b1 lucida-grande bold border-bottom-st center padding-5 margin-top-10">Relatório de saídas</div>
  <div id="outcome-filter-div" class="box b1 container"></div>
  <%- include('./../../../../../partials/carousel.ejs') %>
</div>