<form id="production-create-form" class="box b2 container ground border radius-5 padding-5 margin-top-5">
	<div class="box b1 underline lucida-grande bold margin-top-5 center">Nova Produção</div>
	<input type="hidden" name="id">

	<div class="mobile-box b2 container padding-5 margin-top-5 h-center">
		<input type="radio" name="location" value="Interna" class="mobile-box b9 margin-top-2"
			onclick="setCreateLocation(this);" checked="checked">
		<label for="Interna" class="mobile-box">Interna</label>
	</div>
	<div class="mobile-box b2 container padding-5 margin-top-5 h-center">
		<input type="radio" name="location" value="Externa" class="mobile-box b9 margin-top-2"
			onclick="setCreateLocation(this);">
		<label for="Externa" class="mobile-box">Externa</label>
	</div>

	<div id="internal-seamstress-dropdown-box" class="mobile-box a1 container dropdown ground">
		<div class="box b1 lucida-grande bold em08 margin-top-5">Nome do funcionário</div>
		<ul class="box a1 container">
			<li>
				<input type="text" id="internal-seamstress-dropdown-input" name="internal_seamstress_id" data-id=""
					class="box b1 input-generic lucida-grande bold center" oninput="internalSeamstressDropdown(this)"
					placeholder="Nome do colaborador"
					onclick="if(this.readOnly){this.value='';this.dataset.id='';this.readOnly = false;}" role="presentation"
					autocomplete="off">
				<ul id="internal-seamstress-dropdown-ul" class="box b1" style="z-index: 11"></ul>
			</li>
		</ul>
	</div>

	<div id="external-seamstress-dropdown-box" class="mobile-box a1 container dropdown ground" style="display:none;">
		<div class="box b1 lucida-grande bold em08 margin-top-5">Nome da facção</div>
		<ul class="box a1 container">
			<li>
				<input type="text" id="external-seamstress-dropdown-input" name="external_seamstress_id" data-id=""
					class="box b1 input-generic lucida-grande bold center" oninput="externalSeamstressDropdown(this)"
					placeholder="Nome da facção"
					onclick="if(this.readOnly){this.value='';this.dataset.id='';this.readOnly = false;}" role="presentation"
					autocomplete="off">
				<ul id="external-seamstress-dropdown-ul" class="box b1" style="z-index: 11"></ul>
			</li>
		</ul>
	</div>

	<div class="box b1 lucida-grande bold em08 margin-top-10">Prazo para preparação</div>
	<input type="date" name="preparation_deadline" class="box b1 input-generic lucida-grande bold center">

	<div class="box b1 lucida-grande bold em08 margin-top-10">Data de produção</div>
	<input type="date" id="production-date" name="date" class="box b1 input-generic lucida-grande bold center">

	<div class="box b1 lucida-grande bold em08 margin-top-10">Produtos</div>
	<div class="box a1 container">
		<div id="product-dropdown-box" class="mobile-box b7-10 container dropdown ground">
			<ul class="box a1 container">
				<li>
					<input type="text" id="product-dropdown-input" name="product_id" data-id=""
						class="mobile-box a1 input-generic lucida-grande bold center" oninput="productDropdown(this)"
						placeholder="Nome do produto"
						onclick="if(this.readOnly){this.value='';this.dataset.id='';this.readOnly = false;}" role="presentation"
						autocomplete="off">
					<ul id="product-dropdown-ul" class="box b1"></ul>
				</li>
			</ul>
		</div>

		<input type="number" id="product-amount-input" name="amount"
			class="mobile-box b5 input-generic lucida-grande bold center" step="1" value="0"
			onfocus="if(this.value < 1){this.value = ''}" onblur="if(this.value < 1){this.value = 0}" />

		<div onclick="productKart.insert()" class="mobile-box b10 center"><img class='size-25 icon center'
				src="/images/icon/increase.png"></div>
		<%- include('./product/kart.ejs') %>
	</div>

	<input type="submit" name="submit" value="Cadastrar Produção"
		class="box b1 lucida-grande bold submit-generic margin-top-5">
</form>