<html>
<head>
	<% include ./../partials/head %>
</head>
<body>
	<% include ./../partials/header %>
	<% include ./../partials/nav %>
	<section class="container">
		index
	</section>
	<% include ./../partials/loader %>
</body>
<footer>
	<% include ./../partials/footer %>
</footer>
</html>