<details class="box a1 container border-st radius-5 padding-10 margin-top-10">
  <summary class="lucida-grande em09 bold padding-5 pointer">Gerir Processos</summary>
  <form id="category-create-form" class="box b1 container">
    <input type="hidden" name="id" value="">
    <input type="hidden" name="product_id" value="">
    <input type="text" name="name" class="mobile-box b11-12 input-generic bold margin-top-5 center"
      placeholder="Nome da categoria" role="presentation" autocomplete="off">
    <button name="submit" class="mobile-box b12 noborder center"><img class='size-25 icon center'
        src="/images/icon/increase.png"></button>
  </form>

  <%- include('./../filter/form.ejs') %>
</details>