<div id="package-detail-box" class="box b1 container ground border radius-5 padding-5 margin-top-10 margin-bottom-50">
	<%- include('./image-preview.ejs') %>
	<%- include('./image-box.ejs') %>

	<div class="box b5-12 container">
		<%- include('./menu.ejs') %>
		<%- include('./../kart/box.ejs') %>
		<div id="package-detail-div" class="box b1 container border radius-5 padding-5 margin-top-10 height-450 scroll-y"></div>
	</div>
</div>