<form id="feedstock-filter-form" class="box b1 container" style="display: none;">
  <input type="hidden" name="product_id" value="">
  <input type="submit" name="submit">
</form>

<div id="feedstock-filter-box" class="box b1 container margin-top-10">
  <div class="box b1 underline lucida-grande em09 bold center">Lista de preparação</div>
  <div id="feedstock-filter-div" class="box b1 container"></div>
</div>