<div id="financial-metrics" class="box a1 container">
	<div name="monthly-goal" class="box b2 container border radius-5 padding-10 margin-top-5"></div>
	<div name="monthly-goal-left" class="box b2 container border radius-5 padding-10 margin-top-5"></div>
	<div class="box b1 lucida-grande bold center margin-top-5">Resultado geral</div>
	<div name="current-value-sold" class="box b2 container border radius-5 padding-10 margin-top-5"></div>
	<div name="daily-ticket" class="box b2 container border radius-5 padding-10 margin-top-5"></div>
	<div class="box b1 lucida-grande bold center margin-top-5">Meus resultados</div>
	<div name="user-value-sold" class="box b2 container border radius-5 padding-10 margin-top-5"></div>
	<div name="user-daily-ticket" class="box b2 container border radius-5 padding-10 margin-top-5"></div>
	<div name="user-percentage" class="box b2 container border radius-5 padding-10 margin-top-5"></div>
	<div name="user-commission" class="box b2 container border radius-5 padding-10 margin-top-5"></div>
</div>