<!DOCTYPE html>
<html>
<head>
    <% include ./../../partials/head %>
</head>
<body class="margin-bottom-200">
	<% include ./../../partials/header %>
	<% include ./../../partials/nav %>

	<!-- títulos -->
	<section class="container">
		<p class="em08 underline-link padding-5 pointer">J.A Rio Militar > Documentação > Comercial > Prospecção de clientes</p>

		<div class="box b1 padding-5 underline">
			<h4>Documentação Geral</h4>
			<h3>Comercial > Prospecção de clientes</h3>
			<p class="em09 margin-top-5">Guia de como realizar uma prospecção eficaz e ter mais resultados utilizando técnicas de <b>inteligência comercial</b></p>
		</div>
	</section>

	<!-- 1 -->
	<section class="container margin-top-10 h-center">
	 	<div class="box b11-12">
	 		<div class="box b1 bold em12 lucida-grande">Passo a passo do processo de prospecção</div>
		</div>
	</section>

	<!-- 1 - Conhecer a empresa -->
	<section id="prospect-1" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">1 - Conhecer a empresa</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-1-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
			<p class="margin-left-15 em09 lucida-grande bold">O objetivo primeiramente é encontrar empresas que tenham o perfil para ser nossos clientes e coletar o máximo de informações para facilitar a abordagem no momento dos primeiros contatos</p>

			<div id="prospect-1-steps" class="mobile-box b1 padding-5 transition-02-02" style="display: none;">
				<!-- step-1 -->
				<div class="box b1 container ground border-lg-st transition-02-02 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">1.1 - Encontrando empresas no Google por região e nicho</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-1-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="prospect-1-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5"><b>1.1.1</b> - Antes de começar as buscas escolha o estado que deseja prospectar.</p>
						<p class="padding-5"><b>1.1.2</b> - Decidido o estado faça uma busca no Google da <b>lista de cidades daquele estado por população</b> com isso você encontrará em ordem as possíveis cidades com mais lojas.</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/cities.png">
						<p class="padding-5 margin-top-10"><b>1.1.3</b> - Com a lista das cidades em mãos vamos buscar no Google pelo nome da cidade e estado e selecionar a opção <b>Maps</b>.</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/google-city.png">
						<p class="padding-5 margin-top-10"><b>1.1.4</b> - Agora basta selecionar a opção <b>Próximo</b></p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/next-to-city.png">
						<p class="padding-5 margin-top-10"><b>1.1.5</b> - Um <b>ícone de localização</b> será exibido indicando que a busca será feita pela região, agora é só realizar a busca do nicho que deseja encontrar, como por exemplo: Loja airsoft, Loja militar, Loja paintball, Loja de caça e pesca, etc...</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/store.png">
						<p class="padding-5 margin-top-10"><b>1.1.6</b> - retornará a lista com todas as lojas encontradas na cidade</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/results.png">
					</div>
				</div>

				<!-- step-2 -->
				<div class="box b1 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">1.2 - Montando lista de prospecção</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-1-2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="prospect-1-2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5"><b>1.2.1</b> - Agora com a lista de lojas basta selecionar a loja desejada para encontrar as informações que precisamos</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/store.png">
						<p class="padding-5 margin-top-10"><b>1.2.2</b> - As principais informações que precisaremos no primeiro momento são</p>
						<p class="margin-left-15"><b>Nome completo da loja;</b></p>
						<p class="margin-left-15"><b>Número de telefone fixo;</b></p>
						<p class="margin-left-15"><b>Site ou rede social;</b> (Caso não esteja nas informações você pode pesquisar diretamente no Google, instagram ou Facebook)</p>
						<p class="margin-left-15"><b>Produto que produzimos para abordagem;</b> (Entre no site ou rede social e procure pelo produto)</p>
						<img class="image-prop border-st margin-top-5" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/google-city.png">
						<p class="padding-5 margin-top-10"><b>1.2.3</b> - Com essas informações em mãos agora vamos criar nossa lista de prospecção incluíndo os contatos no fluxo de cadência seguindo os passos expplicados na sessão de <a class="underline-link" href="#cadency-1">Fluxo de cadência 1.1</a></p>
					</div>
				</div>

				<!-- step-3 -->
				<div class="box b1 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">1.3 - Fluxo de cadência</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-1-3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="prospect-1-3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5"><b>1.3.1</b> - Primeiro cadastre o Lead como explicado na sessão de <a class="underline-link" href="#cadency-1">Fluxo de cadência 1.1</a></p>
						<p class="padding-5"><b>1.3.2</b> - O lead irá iniciar com o status <b>Ag. 1º contato</b></p>
						<p class="padding-5"><b>1.3.3</b> - Neste primeiro contato você deverá seguir</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- 1 - Conhecer a empresa -->
	<section id="prospect-2" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">2 - Estratégias de abordagem</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-2-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
			<p class="margin-left-15 em09 lucida-grande bold">Em vendas você sempre receberá mais 'não' que 'sim'. Utilizando estratégias com objetivos claros em cada parte da prospecção você irá trabalhar com estatísticas de taxa de conversão, isso manterá você focado para criar mais oportunidades com menor desgaste psicológico</p>

			<div id="prospect-2-steps" class="mobile-box b1 padding-5 transition-02-02" style="display: none;">
				<!-- step-1 -->
				<div class="box b1 container ground border-lg-st transition-02-02 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">2.1 - 1º Contato</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-2-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
					<p class="margin-left-15 em09 lucida-grande bold">Objetivo: Conseguir as informações de quem de fato responde pelas compras da empresa</p>

					<div id="prospect-2-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5"><b>2.1.1</b> - As informações que desejamos neste primeiro contato são:</p>
						<p class="margin-left-15"><b>Nome do responsável;</b></p>
						<p class="margin-left-15"><b>WhatsApp do responsável;</b> (Sempre peça o WhatsApp antes do E-mail)</p>
						<p class="margin-left-15"><b>E-mail do responsável;</b></p>
						<img class="image-prop border-st margin-top-5" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/1-contact.png">
						<p class="padding-5 margin-top-10"><b>2.1.2</b> - <b>Sempre</b> informe no <b>campo de observações</b> o <b>Nome do atendente</b> e tente específicar o que aconteceu durante a ligação, isso ajudará nos próximos contatos.</p>
						<p class="padding-5 margin-top-10"><b>2.1.3</b> - Modelo de ligação:</p>
						<div class="box b1 container padding-10 radius-10" style="background-color:#d9fdd3">
							<b class="em09 margin-top-5">Você</b>
							<p class="box b1 em09">- Bom dia, com quem eu falo?</p>
							<b class="em09 margin-top-5">Atendente</b>
							<p class="box b1 em09">- Bom dia com 'Nome do atendente'</p>
							<b class="em09 margin-top-5">Você</b>
							<p class="box b1 em09">- Vocês trabalham com 'Produto de abordagem', certo?</p>
							<b class="em09 margin-top-5">Atendente</b>
							<p class="box b1 em09">-Sim, trabalhamos</p>
							<b class="em09 margin-top-5">Você</b>
							<p class="box b1 em09">- Então 'Nome do atendente', meu nome é 'seu nome' eu represento a JA Rio Militar, nós somos fabricantes deste produto, seria você a pessoa responsável pelas compras da empresa?</p>
							<div class="box b2 border padding-5 margin-top-10 radius-5">
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- Não</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- E quem seria a pessoa?</p>
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- É o dono da empresa?</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Qual o nome dele?</p>
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- É 'Nome do responsável'</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Beleza, e teria algum WhatsApp que eu pudesse conversar diretamente com ele?</p>
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- Não posso informar o contato dele</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Tudo bem, sem problema, ele teria algum E-mail que eu pudesse enviar uma apresentação?</p>
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- Pode enviar para o 'email@email.com'</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Teria algum horário que consigo encontrar ele na loja para falar diretamente com ele?</p>
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- Geralmente às 15h</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Tudo bem, depois tento retornar para ele, muito obrigado pela atenção, bom trabalho.</p>
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- Igualmente</p>
							</div>

							<div class="box b2 border padding-5 margin-top-10 radius-5">
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- Sim</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Ótimo, 'Nome do Responsável', nós produzimos além de 'Produto de abordagem', teria algum produto específico que você está procurando fornecedor?</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">(Se responder que <b>sim, é a brecha para gerar conexão</b>, se responder que <b>não, continua o script</b>)</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Então 'Nome do Responsável', nós temos outros produtos que poderiam agregar muito em seu portifólio, teria algum WhatsApp pra eu te apresentar um pouco mais do nosso trabalho e te explicar como funciona nosso sistema de representação?</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- É o (00) 00000-0000</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Ok, tem algum e-mail que posso enviar o catálogo?</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- É o email@email.com</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Ok, já te chamo no WhatsApp para continuarmos a conversa por lá, tudo bem?</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- Tudo bem</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- 'Nome do Responsável', muito obrigado pela sua atenção, já te chamo lá, bom trabalho e boas vendas.</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- Igualmente.</p>
							</div>
						</div>
						<p class="padding-5 margin-top-10"><b>2.1.4</b> - Caso não tenha conseguido todas as informações, selecione o status <b>Contatar loja novamente</b> para retornar em outro momento e tentar conseguir as informações que faltam</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/1-contact-form.png">
						<p class="padding-5 margin-top-10"><b>2.1.5</b> - Caso tenha conseguido todas as informações, selecione o status <b>Contatar responsável</b> para entrar em contato diretamente com o responsável.</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/1-contact-manager.png">
					</div>
				</div>

				<!-- step-2 -->
				<div class="box b1 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">2.2 - Contatar loja novamente</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-2-2', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
					<p class="margin-left-15 em09 lucida-grande bold">Objetivo: Conseguir contato direto com responsável pedindo para falar com ele (Sabendo o nome do responsável você pode informar que o assunto é somente com ele)</p>

					<div id="prospect-2-2" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5"><b>2.2.1</b> - Provavelmente neste ponto você já conseguiu saber o 'Nome do responsável' e o E-mail dele, como cadastrado nas observações você deve retornar no horário em que provavelmente o responsável se encontra com o intuíto de conseguir contato diretamente com ele.</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/contact-again.png">

						<p class="padding-5 margin-top-10"><b>2.2.2</b> - Antes de contatar novamente a loja, selecione a opção de enviar E-mail para ter um motivo para quebrar o gelo caso consiga contato com o responsável</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/contact-again-mail.png">

						<p class="padding-5 margin-top-10"><b>2.2.3</b> - O E-mail enviado chegará da seguinte forma para o cliente</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/email-present.png">
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/email-template.png">

						<p class="padding-5 margin-top-10"><b>2.2.4</b> - Modelo de ligação:</p>
						<div class="box b1 container padding-10 radius-10" style="background-color:#d9fdd3">
							<b class="em09 margin-top-5">Você</b>
							<p class="box b1 em09">- Bom dia, com quem eu falo?</p>
							<b class="em09 margin-top-5">Atendente</b>
							<p class="box b1 em09">- Bom dia com 'Nome do atendente'</p>
							<b class="em09 margin-top-5">Você</b>
							<p class="box b1 em09">- 'Nome do atendente', meu nome é 'Seu nome', o 'Nome do representante' se encontra?</p>
							<div class="box b2 border padding-5 margin-top-10 radius-5">
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- Sim, sobre o que seria</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- É a respeito da compra de alguns produtos, teria como falar com ele?</p>
								<b class="em09 margin-top-5">Atendente</b>
								<p class="box b1 em09">- Só um minuto... (Caso ele chame o responsável basta se apresentar e tentar gerar conexão)</p>
								<p class="box b1 em09">- Ele já está vindo...</p>
								<b class="em09 margin-top-5">Representante</b>
								<p class="box b1 em09">- Com quem eu falo</p>
							</div>

							<div class="box b2 border padding-5 margin-top-10 radius-5">
								<!-- <b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- Sim</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Ótimo, 'Nome do Responsável', nós produzimos além de 'Produto de abordagem', teria algum produto específico que você está procurando fornecedor?</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">(Se responder que <b>sim, é a brecha para gerar conexão</b>, se responder que <b>não, continua o script</b>)</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Então 'Nome do Responsável', nós temos outros produtos que poderiam agregar muito em seu portifólio, teria algum WhatsApp pra eu te apresentar um pouco mais do nosso trabalho e te explicar como funciona nosso sistema de representação?</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- É o (00) 00000-0000</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Ok, tem algum e-mail que posso enviar o catálogo?</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- É o email@email.com</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- Ok, já te chamo no WhatsApp para continuarmos a conversa por lá, tudo bem?</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- Tudo bem</p>
								<b class="em09 margin-top-5">Você</b>
								<p class="box b1 em09">- 'Nome do Responsável', muito obrigado pela sua atenção, já te chamo lá, bom trabalho e boas vendas.</p>
								<b class="em09 margin-top-5">Responsável</b>
								<p class="box b1 em09">- Igualmente.</p> -->
							</div>
						</div>
					</div>
				</div>

				<!-- step-3 -->
				<div class="box b1 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">2.3 - Contatar responsável</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-2-3', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="prospect-2-3" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						
					</div>
				</div>

				<!-- step-4 -->
				<div class="box b1 container ground border-lg-st transition-02-02 margin-top-10 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">2.4 - Lista de transmissão</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-2-4', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="prospect-2-4" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- 2 -->
	<section class="container margin-top-10 h-center">
	 	<div class="box b11-12">
	 		<div class="box b1 bold em12 lucida-grande">Fluxo de cadência</div>
		</div>
	</section>

	<!-- 2 - Fluxo de cadência -->
	<section id="cadency-1" class="container margin-top-5 h-center">
		<div class="box b11-12 container ground border-lg-st transition-02-02 padding-10 radius-5">
			<h3 class="mobile-box b11-12 lucida-grande">1 - Lead no fluxo</h3>
			<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('cadency-1-steps', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

			<div id="cadency-1-steps" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
				<!-- step-1 -->
				<div class="box b1 container ground border-lg-st transition-02-02 padding-10 radius-5">
					<h3 class="mobile-box b11-12 lucida-grande">1.1 - Incluir lead no Fluxo</h3>
					<div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('cadency-1-1', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>

					<div id="cadency-1-1" class="mobile-box b1 margin-top-5 padding-5 transition-02-02" style="display: none;">
						<p class="padding-5"><b>1.1.1</b> - Acessar o <a onclick="lib.openExternalLink('erpjariomilitar.com')" class="underline-link">ERP</a></p>
						<p class="padding-5"><b>1.1.2</b> - Seguir o caminho <b class="lucida-grande italic">Menu > Prospecção de clientes > Fluxo de cadência</b></p>
						<p class="padding-5"><b>1.1.3</b> - Expandir o formulário de novo Lead e inserir as informações coletadas.</p>
						<img class="image-prop border-st" src="https://spaces.jariomilitar.com/ERP-Documentation/commercial/prospect/lead-create-form.png">
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
<footer>
	<% include ./../../partials/footer %>

	<script type="text/javascript">
		console.log();
	</script>
</footer>
</html>