<div id="product-detail-image-box" class="box b2-3 container" style="display:none">
	<div id="product-detail-image-preview" class="mobile-box b5 container height-500 padding-10 scroll-y"></div>
	<div id="product-detail-image-div" class="mobile-box b4-5 container"></div>
</div>