<div id="product-image-box" class="box a1 container border radius-5 padding-5 margin-top-5" style="display:none;">
	<div class="box b1 lucida-grande bold underline center">Fotos do produto</div>
	<div id="product-image-div" class="box b1 border padding-5 height-125 scroll-x margin-top-5"></div>
</div>