<form id="category-filter-form" style="display:none;">
  <input type="hidden" name="id" value="">
  <input type="hidden" name="product_id" value="">
  <input type="submit" name="submit">
</form>

<details id="category-filter-box" class="box b1 container border radius-5 padding-5 margin-top-5">
  <summary class="lucida-grande em09 bold pointer">Processos de preparação</summary>
  <div id="category-filter-div" class="box b1 container"></div>
</details>