<form id="mail-create-form" class="box b2-3 container ground border radius-5 padding-10 margin-top-10">
	<div class="box b1 underline lucida-grande bold center">Criar novo modelo</div>
	<input type="hidden" name="id" value="">
	<input type="text" name="title" class="box b2 lucida-grande bold border radius-5 padding-5 margin-top-5 nofocus" placeholder="Nome do Modelo" autocomplete="off">
	<input type="text" name="description" class="box b2 lucida-grande bold border radius-5 padding-5 margin-top-5 nofocus" placeholder="Descrição" autocomplete="off">
	<input type="text" name="subject" class="box b2 lucida-grande bold border radius-5 padding-5 margin-top-5 nofocus" placeholder="Subject" autocomplete="off">
	<input type="text" name="text" class="box b2 lucida-grande bold border radius-5 padding-5 margin-top-5 nofocus" placeholder="Text" autocomplete="off">
	<textarea name="content" class="box b1 border radius-5 height-200 padding-5 margin-top-5 nofocus"></textarea>
	<input type="submit" name="submit" class="mobile-box b2 lucida-grande bold border-st box-hover radius-5 padding-5 margin-top-5 pointer" value="Salvar modelo">
	<input id="mail-preview-btn" type="button" class="mobile-box b2 lucida-grande bold border-st box-hover radius-5 padding-5 margin-top-5 pointer" value="Visualizar Modelo">
</form>