<div id="mail-filter-box" class="box b2-3 container ground border radius-5 margin-top-5" style="display:none;">
	<div id="mail-filter-div" class="box b1 container"></div>
	<%- include('./../../../partials/carousel.ejs') %>
</div>