<form id="production-filter-form" class="box b2-3 container ground border radius-5 padding-5 margin-top-5">
  <div class="box b1 underline lucida-grande bold margin-top-5 center">Filtrar Produções</div>
  <select name="location" class="box b2-3 lucida-grande bold input-generic margin-top-5 center">
    <option value="Interna">Interna</option>
    <option value="Externa">Externa</option>
  </select>
  <input type="submit" name="submit" value="Buscar" class="box b3 lucida-grande bold submit-generic margin-top-5">
</form>

<div id="production-filter-box" class="box b2-3 container">
  <div id="production-filter-div" class="box b1 container"></div>
</div>