<html>
<head>
  <% include ./../../partials/head %>
</head>
<body>
  <% include ./../../partials/header %>
  <% include ./../../partials/nav %>
  <section class="container h-center">
    <div class="box b2 container ground padding-10 radius-5 h-center">
      <div class="box b1 ground lucida-grande em12 bold underline center">Triagem vendas comercial</div>
      <div onclick="window.location.href = '/sale/triage/packment'" class="box b1 lucida-grande bold border-lg-st padding-10 margin-top-10 radius-5 center pointer">Pedidos para Embalar</div>
      <div onclick="window.location.href = '/sale/service-order/shipment'" class="box b1 lucida-grande bold border-lg-st padding-10 margin-top-10 radius-5 center pointer">Gerar O.S. de despacho</div>
      <div onclick="window.location.href = '/sale/service-order/transport'" class="box b1 lucida-grande bold border-lg-st padding-10 margin-top-10 radius-5 center pointer">Gerar O.S. de transporte</div>
      <div onclick="window.location.href = '/sale/service-order/collect'" class="box b1 lucida-grande bold border-lg-st padding-10 margin-top-10 radius-5 center pointer">Coletar O.S. para transporte</div>
      <div onclick="window.location.href = '/sale/service-order'" class="box b1 lucida-grande bold border-lg-st padding-10 margin-top-10 radius-5 center pointer">Gerir Ordem de serviço</div>
    </div>
  </section>
  <% include ./../../partials/loader %>
</body>
<footer>
  <% include ./../../partials/footer %>
</footer>
</html>