<div id="shipment-detail-box" class="container image-fit msg-window h-center" style="display:none;">
  <div class="box a5-6 container ground padding-10 border-st radius-5 margin-top-30 h-center">
    <div class="mobile-box a9-10"></div>
    <img class='mobile-box center size-20 margin-top-15 icon pointer'
      onclick="lib.display('shipment-detail-box', 'none')" src="/images/icon/close.png">

    <div id="shipment-detail-div" class="box b1 container ground margin-top-5"></div>
    <input type="hidden" id="shipment-detail-id" value="">
    <div class="box b2 btn-act bold radius-5 padding-10 margin-top-10 center pointer" onclick="collectConfirm()">
      Confirmar
      coleta</div>
  </div>

</div>