<div id="feedstock-order-filter-box" class="box b1 container">
  <div class="box b1 underline lucida-grande center">Lista de pedidos</div>
  <div id="feedstock-order-filter-div"
    class="box b1 container min-height-100 max-height-400 scroll-y border radius-5 margin-top-5">
  </div>
</div>