<div id="product-detail-box" class="box b1 container ground h-center border radius-5 padding-10 margin-top-10" style="display:none;">
  <div id="product-detail-info" class="box b1 container underline h-center"></div>
  <div id="product-detail-image" class="box b1 container h-center"></div>
</div>