<html>
    <head>
        <% include ./../partials/head %>
        <style type="text/css">
            .input-generic {
                min-height: 25px;
                border: 1px solid #666;
            }

            .submit-generic {
                min-height: 25px;
                border: 1px solid #333;
            }
        </style>
    </head>
    <body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>
        <section>
            <div class="container">
                <div class="box two ground padding-10 margin-top-10">
                    <h3 class="box one ground padding-10 center box-border">Novo Cliente</h3>
                    <form id="customer-create-form" class="container box one box-border padding-10 margin-top-5">
                        <input type="text" name="name" class="box two input-generic center ground margin-top-5" placeholder="Nome Completo" autocomplete="off">
                        <input type="text" name="trademark" class="box two input-generic center ground margin-top-5" placeholder="Razão Social" autocomplete="off">
                        <input type="text" name="brand" class="box two input-generic center ground margin-top-5" placeholder="Nome Fantasia" autocomplete="off">
                        <input type="number" name="cnpj" class="box two input-generic center ground margin-top-5" placeholder="CNPJ" maxlength="14" autocomplete="off">
                        <input type="text" name="email" class="box two input-generic center ground margin-top-5" placeholder="E-mail" autocomplete="off">
                        <input type="text" name="phone" class="box two input-generic center ground margin-top-5" placeholder="Telefone" maxlength="13" autocomplete="off">
                        <input type="text" name="cellphone" class="box two input-generic center ground margin-top-5" placeholder="Celular" maxlength="13" autocomplete="off">
                        <input type="submit" name="submit" class="box two submit-generic center box-hover margin-top-5 bold" value="Cadastrar">
                    </form>
                </div>
                <div id="customer-filter-box" class="box two ground padding-10 margin-top-10">
                    <h3 class="box one ground padding-10 center box-border">Buscar Cliente</h3>
                    <form id="customer-filter-form" class="container box one box-border padding-10 margin-top-5">
                        <input type="text" name="name" class="box three input-generic center ground" placeholder="Nome" autocomplete="off">
                        <input type="text" name="cnpj" class="box three input-generic center ground" placeholder="CNPJ" maxlength="14" autocomplete="off">
                        <input type="submit" name="submit" class="box three submit-generic center box-hover bold" value="Buscar">
                    </form>
                    <table id="customer-filter-table" class="box one ground padding-10 margin-top-10 tbl-info"></table>
                    <% include ./../partials/carousel %>
                </div>
            </div>
        </section>
    </body>
    <footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
    </footer>
</html>