<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <% include ./../partials/header %>
        <% include ./../partials/nav %>

        <section class="container">
            <div id="send-email">Enviar Email</div>
        </section>
        <% include ./../partials/loader %>
    </body>
    <footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script src="/javascripts/scripts/customer/model/mailer.js"></script>
        <script src="/javascripts/scripts/customer/controller/mailer.js"></script>
    </footer>
</html>