<div id="receipt-dropdown-box" class="box b2 container ground dropdown margin-top-5">
  <input type="text" data-id=""
    class="mobile-box a1 lucida-grande em15 bold border-st radius-5 nofocus padding-10 center"
    oninput="receiptDropdown(this)" placeholder="Nº do Lacre" autocomplete="off" role="presentation">
  <div id="receipt-dropdown-content" class="box a1 ground dropdown-content"></div>
</div>