<form id="feedstock-order-filter-form" class="box b2-3 container ground border-st radius-5 padding-10 margin-top-10"
  style="display:none;">
  <div class="box b1 underline lucida-grande bold center">Lista de matérias-primas</div>

  <input type="text" name="feedstock_name"
    class="mobile-box b2 border-bottom-lg-st lucida-grande bold padding-7 margin-top-5 center"
    placeholder="Nome da matéria-prima" role="presentation" autocomplete="off">

  <select name="status" class="mobile-box b3-10 lucida-grande bold border radius-5 padding-5 margin-top-5">
    <option value="Ag. pedido">Ag. pedido</option>
    <option value="Pendente">Pendente</option>
    <option value="Confirmado">Confirmado</option>
  </select>

  <button name="submit"
    class="mobile-box b5 btn-act noborder radius-5 lucida-grande bold padding-7 margin-top-5 center">Buscar</button>
</form>