<div id="sale-filter-box" class="box b1 container margin-top-5" style="display:none">
  <div id="sale-filter-div" class="box b1 container"></div>
  <% include ./../../../../partials/carousel %>
</div>