<html>
<head>
  <% include ./../../partials/head %>
</head>
<body>
  <% include ./../../partials/header %>
  <% include ./../../partials/nav %>
  <section class="container h-center">
    <div class="box b2 container ground padding-10 radius-5 h-center">
      <div class="box b1 ground lucida-grande em12 bold underline center">Triagem vendas comercial</div>
      <div onclick="window.location.href = '/product/conference/info'" class="box b1 lucida-grande bold border-lg-st padding-10 margin-top-10 radius-5 center pointer">Guia de conferência</div>
      <div onclick="window.location.href = '/product/conference/info/manage'" class="box b1 lucida-grande bold border-lg-st padding-10 margin-top-10 radius-5 center pointer">Gerir guia de conferência</div>
    </div>
  </section>
  <% include ./../../partials/loader %>
</body>
<footer>
  <% include ./../../partials/footer %>
</footer>
</html>