<!DOCTYPE html>
<html>
<head>
  <title>Aumente seu faturamento!</title>
</head>
<body style="padding:0px;margin:0px;border-radius:5px;background-color: #f0f0f0;">
  <div style="padding:15px;">
    <p style="margin-top:20px;font-family:georgia;">Olá <%= customer.manager %>,</p>
    <div style="margin-top:15px;font-family:georgia;">Como solicitado, segue nosso <a href="https://jariomilitar.com/catalogo">catálogo</a>.</div>
    
    <div style="margin-top:15px;font-family:georgia;">Caso haja o interesse de ter algum dos itens em sua loja ou se tornar representante de nossa marca basta entrar em contato pelo <a href="https://api.whatsapp.com/send?phone=5521999659635&text=Ol%C3%A1%20gostaria%20de%20revender%20os%20produtos%20JA%20Rio%20Militar!">WhatsApp</a> que um de nossos consultores irá te guiar nesse processo.</div>

    <div style="margin-top:30px;font-family:georgia;">Atenciosamente,</div>
    <div style="margin-top:12px;font-family:georgia;"><%= user.name %></div>
    <% if(user.phone) { %> 
      <div style="font-size: 0.8em;"><%= user.phone %></div>
    <% } %>
    <img src="cid:favicon" style="margin-left:10px;margin-top:5px;width:105px;">
  </div>
</body>
</html>