<!-- geometria analítica -->
<html>
  <head>
    <% include ./../partials/head %>
    <style type="text/css">
      ::-webkit-scrollbar { width: 10px; }
      ::-webkit-scrollbar-track { background: #f1f1f1; }
      ::-webkit-scrollbar-thumb { background: #888; }
      ::-webkit-scrollbar-thumb:hover { background: #555; }
    </style>
  </head>
  <body>
    <% include ./../partials/header %>
    <% include ./../partials/nav %>
    <section class="container">
      <form id="ecommerce-sale-admin-filter-form" class="box one container border padding-10 margin-top-5 shadow">
        <select name="origin" class="box b4 input-generic center margin-top-5 hide-disabled">
            <option value="" selected disabled>Plataforma da venda</option>
            <option value="MLJC">MLJC</option>
            <option value="MLCHRIS">MLCHRIS</option>
            <option value="SITE">SITE</option>
            <option value="SHOPEE">SHOPEE</option>
            <option value="B2W">B2W</option>
            <option value="Reclamação">Reclamação</option>
        </select>
        <select name="status" class="box b4 input-generic center margin-top-5 hide-disabled">
            <option value="" selected>Status</option>
            <option value="Ag. Informações">Ag. Informações</option>
            <option value="Ag. Embalo">Ag. Embalo</option>
            <option value="Ag. Coleta">Ag. Coleta</option>
            <option value="Enviado">Enviado</option>
            <option value="Cancelada">Cancelada</option>
        </select>
        <input type="text" name="customer_name" class="box b4 input-generic center margin-top-5" placeholder="Nome do cliente" autocomplete="off">
        <input type="text" name="product_name" placeholder="Nome do Produto" class="box b4 input-generic center margin-top-5" autocomplete="off">
        <select name="order" class="box b4 input-generic margin-top-5 hide-disabled">
          <option value="amount">Quantidade</option>
          <option value="code">Código</option>
        </select>
        <input type="datetime-local" class="box b4 input-generic center margin-top-5" name="periodStart">
        <input type="datetime-local" class="box b4 input-generic center margin-top-5" name="periodEnd">
        <input type="submit" name="submit" class="box b4 submit-generic pointer center margin-top-5 margin-bottom-5" value="Filtrar">
    </form>
      <div id="ecommerce-sale-admin-filter-box" class="box b1 ground" style="display:none">
          <div id="ecommerce-sale-admin-filter-div" class="box b1"></div>
          <% include ./../partials/carousel %>
      </div>
    </section>
    <% include ./../partials/loader %>
  </body>
  <footer>
    <% include ./../partials/footer %>
    <script src="/javascripts/scripts/ecommerce/sale/model/main.js"></script>
    <script src="/javascripts/scripts/ecommerce/sale/controller/main.js"></script>
    <script src="/javascripts/scripts/ecommerce/sale/view/main.js"></script>

    <script type="text/javascript">
      Ecommerce.sale.admin = {};
      Ecommerce.sale.controller.admin = {};
      Ecommerce.sale.view.admin = {};

      Ecommerce.sale.controller.admin.filter = document.getElementById("ecommerce-sale-admin-filter-form");
      if(Ecommerce.sale.controller.admin.filter){
        Ecommerce.sale.controller.admin.filter.addEventListener("submit", async event => {
          event.preventDefault();

          let sale = {
            origin: event.target.elements.namedItem("origin").value,
            product_name: event.target.elements.namedItem("product_name").value,
            customer_name: event.target.elements.namedItem("customer_name").value,
            status: event.target.elements.namedItem("status").value,
            periodStart: lib.datetimeToTimestamp(event.target.elements.namedItem("periodStart").value),
            periodEnd: lib.datetimeToTimestamp(event.target.elements.namedItem("periodEnd").value)
          };

          document.getElementById('ajax-loader').style.visibility = 'visible';
          let response = await Ecommerce.sale.admin.filter(sale);
          document.getElementById('ajax-loader').style.visibility = 'hidden';

          const productAmountById = {};
          response.sale_products.forEach(function (product) {
            productAmountById[product.product_id] = (productAmountById[product.product_id] || 0) + product.amount;
          });

          response.sale_package_products.forEach(function (product) {
            productAmountById[product.product_id] = (productAmountById[product.product_id] || 0) + product.amount;
          });

          let products = [];

          for (let [key, value] of Object.entries(productAmountById)) {
            let product = { id: key, code: 0, name: "", color: "", amount: value };
            for(let i in response.sale_products){ 
              if(key == response.sale_products[i].product_id){
                product.code = response.sale_products[i].code;
                product.name = response.sale_products[i].name;
                product.color = response.sale_products[i].color;
                product.size = response.sale_products[i].size;
              }
            };
            for(let i in response.sale_package_products){ 
              if(key == response.sale_package_products[i].product_id){ 
                product.code = response.sale_package_products[i].code;
                product.name = response.sale_package_products[i].name;
                product.color = response.sale_package_products[i].color;
                product.size = response.sale_package_products[i].size;
              }
            };
            products.push(product);
          };

          if(event.target.elements.namedItem("order").value == "amount"){
            products = lib.sort(products, "amount", "desc");
          } else {
            products = lib.sort(products, "code");
          }

          document.getElementById("ecommerce-sale-admin-filter-box").style.display = "";

          const setup = { pageSize: 10, page: 0, status: sale.status };
          $(() => { lib.carousel.execute("ecommerce-sale-admin-filter-box", Ecommerce.sale.view.admin.filter, products, setup); });
        });
      };

      Ecommerce.sale.admin.filter = async (sale) => {
        let response = await fetch("/admin/ecommerce_sale/filter", {
          method: "POST",
          headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ sale })
        });
        response = await response.json();

        if(API.verifyResponse(response)){ return false };

        return response;
      };

      Ecommerce.sale.view.admin.filter = (products, setup) => {
        let html = "";
        html += "<div class='box b1 container box-hover border-explicit'>";
          html += "<div class='mobile-box a9 em06 padding-10 center'>Código</div>";
          html += "<div class='mobile-box a2 em08 padding-10 center'>Nome</div>";
          html += "<div class='mobile-box a9 em07 padding-10 center'>Cor</div>";
          html += "<div class='mobile-box a9 em06 padding-10 center'>Tamanho</div>";
          html += "<div class='mobile-box a6 em06 padding-10 center'>Quantidade</div>";
        html += "</div>";
        for(let i = setup.page * setup.pageSize; i < products.length && i < (setup.page + 1) * setup.pageSize; i++){
          html += "<div class='box a1 container box-hover border margin-top-5'>";
            html += "<div class='mobile-box a9 em12 padding-10 center'>"+products[i].code+"</div>";
            html += "<div class='mobile-box a2 em12 padding-10'>"+products[i].name+"</div>";
            html += "<div class='mobile-box a9 padding-10 center'>"+products[i].color+"</div>";
            html += "<div class='mobile-box a9 padding-10 center'>"+products[i].size+"</div>";
            html += "<div class='mobile-box a6 em12 bold padding-10 center'>"+products[i].amount+"</div>";
          html += "</div>";
        };
        document.getElementById("ecommerce-sale-admin-filter-div").innerHTML = html;
      };
    </script>
  </footer>
</html>