<html>
  <head>
    <% include ./../partials/head %>
  </head>
  <body>
    <% include ./../partials/header %>
    <% include ./../partials/nav %>
    <section>
      <div class="container">
        <div class="box-2">
          <div class="menu-box">
            <strong class="underline">Menu administrativo</strong>
            <span class="span-menu" onclick="window.location.href='/admin/user/department'">Gerir departamentos e funções</span>
            <span class="span-menu" onclick="window.location.href='/admin/user'">Gerir funcionários</span>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <% include ./../partials/footer %>
  </footer>
</html>