<html>
  <head>
    <% include ./../partials/head %>
    <style type="text/css">
      ::-webkit-scrollbar { width: 10px; }
      ::-webkit-scrollbar-track { background: #f1f1f1; }
      ::-webkit-scrollbar-thumb { background: #888; }
      ::-webkit-scrollbar-thumb:hover { background: #555; }
    </style>
  </head>
  <body>
    <% include ./../partials/header %>
    <% include ./../partials/nav %>
    <section class="container">
      <div class="box b1">
        <form id="sale-admin-filter-form" class="box b1 container ground padding-10 margin-top-10 shadow-hover">
          <input type="text" name="product-name" placeholder="Nome do Produto" class="box b2 input-generic center margin-top-5" autocomplete="off">
          <select name="product-color" class="box b4 input-generic margin-top-5 center" autocomplete="off">
            <option value="">Cor</option>
            <% for(let i in colors){ %>
              <option value="<%= colors[i].shortcut %>"><%= colors[i].name %></option>
            <% } %>
          </select>
          <select name="order" class="box b4 input-generic margin-top-5 hide-disabled">
            <option value="amount">Quantidade</option>
            <option value="code">Código</option>
          </select>
          <select name="status" class="box b4 input-generic margin-top-5 hide-disabled">
            <option value="">Status da venda</option>
            <option value="Confirmadas">Confirmadas</option>
            <option value="Em negociação">Em negociação</option>
            <option value="Ag. pagamento">Ag. pagamento</option>
            <option value="Ag. embalo">Ag. embalo</option>
            <option value="Ag. nota fiscal">Ag. nota fiscal</option>
            <option value="Ag. envio">Ag. Envio</option>
            <option value="Enviado">Enviado</option>
          </select>
          <input type="date" name="periodStart" class="box b4 input-generic center margin-top-5" autocomplete="off">
          <input type="date" name="periodEnd" class="box b4 input-generic center margin-top-5" autocomplete="off">
          <input type="submit" name="submit" class="box b4 submit-generic box-hover center margin-top-5 bold" value="Filtrar">
        </form>
        <div id="sale-admin-filter-box" class="box b1 ground" style="display:none">
            <div id="sale-admin-filter-div" class="box b1"></div>
            <% include ./../partials/carousel %>
        </div>
      </div>
    </section>
    <% include ./../partials/loader %>
  </body>
  <footer>
    <% include ./../partials/footer %>
    <script src="/javascripts/scripts/sale/model/main.js"></script>
    <script src="/javascripts/scripts/sale/controller/main.js"></script>
    <script src="/javascripts/scripts/sale/view/main.js"></script>

    <script type="text/javascript">
      Sale.admin = {};
      Sale.controller.admin = {};
      Sale.view.admin = {};

      Sale.controller.admin.filter = document.getElementById("sale-admin-filter-form");
      if(Sale.controller.admin.filter){
        Sale.controller.admin.filter.addEventListener("submit", async event => {
          event.preventDefault();

          let sale = {
            product_name: event.target.elements.namedItem("product-name").value,
            product_color: event.target.elements.namedItem("product-color").value,
            periodStart: lib.dateToTimestamp(event.target.elements.namedItem("periodStart").value),
            periodEnd: lib.dateToTimestamp(event.target.elements.namedItem("periodEnd").value),
            status: event.target.elements.namedItem("status").value
          };

          if(sale.status == "Confirmadas"){ sale.status = ""; };
          
          document.getElementById('ajax-loader').style.visibility = 'visible';
          let response = await Sale.admin.filter(sale);
          document.getElementById('ajax-loader').style.visibility = 'hidden';

          if(event.target.elements.namedItem("status").value == "Confirmadas"){ sale.status = "Confirmadas"; };

          const productAmountById = {};

          response.sale_products.forEach(function (product) {
            productAmountById[product.product_id] = (productAmountById[product.product_id] || 0) + product.amount;
          });

          response.sale_package_products.forEach(function (product) {
            productAmountById[product.product_id] = (productAmountById[product.product_id] || 0) + product.amount;
          });

          let products = [];

          for (let [key, value] of Object.entries(productAmountById)) {
            let product = { id: key, code: 0, name: "", color: "", amount: value };
            for(let i in response.sale_products){ 
              if(key == response.sale_products[i].product_id){
                product.code = response.sale_products[i].code;
                product.name = response.sale_products[i].name;
                product.color = response.sale_products[i].color;
                product.size = response.sale_products[i].size;
              }
            };
            for(let i in response.sale_package_products){ 
              if(key == response.sale_package_products[i].product_id){ 
                product.code = response.sale_package_products[i].code;
                product.name = response.sale_package_products[i].name;
                product.color = response.sale_package_products[i].color;
                product.size = response.sale_package_products[i].size;
              }
            };
            products.push(product);
          };

          if(event.target.elements.namedItem("order").value == "amount"){
            products = lib.sort(products, "amount", "desc");
          } else {
            products = lib.sort(products, "code");
          }

          document.getElementById("sale-admin-filter-box").style.display = "";

          const setup = { pageSize: 10, page: 0, status: sale.status };
          $(() => { lib.carousel.execute("sale-admin-filter-box", Sale.view.admin.filter, products, setup); });
        });
      };

      Sale.admin.filter = async (sale) => {
        let response = await fetch("/admin/sale/filter", {
          method: "POST",
          headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ sale })
        });
        response = await response.json();

        if(API.verifyResponse(response)){ return false }

        return response;
      };

      Sale.view.admin.filter = (products, setup) => {
        let html = "";
        html += "<div class='box b1 container box-hover border-explicit'>";
          html += "<div class='mobile-box a9 em06 padding-10 center'>Código</div>";
          html += "<div class='mobile-box a2 em08 padding-10 center'>Nome</div>";
          html += "<div class='mobile-box a9 em07 padding-10 center'>Cor</div>";
          html += "<div class='mobile-box a9 em06 padding-10 center'>Tamanho</div>";
          html += "<div class='mobile-box a6 em06 padding-10 center'>Quantidade</div>";
        html += "</div>";
        for(let i = setup.page * setup.pageSize; i < products.length && i < (setup.page + 1) * setup.pageSize; i++){
          html += "<div class='box a1 container box-hover border margin-top-5'>";
            html += "<div class='mobile-box a9 em12 padding-10 center'>"+products[i].code+"</div>";
            html += "<div class='mobile-box a2 em12 padding-10'>"+products[i].name+"</div>";
            html += "<div class='mobile-box a9 padding-10 center'>"+products[i].color+"</div>";
            html += "<div class='mobile-box a9 padding-10 center'>"+products[i].size+"</div>";
            html += "<div class='mobile-box a6 em12 bold padding-10 center'>"+products[i].amount+"</div>";
          html += "</div>";
        };
        document.getElementById("sale-admin-filter-div").innerHTML = html;
      };
    </script>
  </footer>
</html>