<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					<h3>Cadastrar Departamento</h3>
					<form id="user-list-form" class="box-1">
						<input type="text" name="user-department-name" class="btn-generic-big" placeholder="Nome do departamento" autocomplete="off">
						<input type="text" name="user-department-abbreviation" class="btn-generic-big" placeholder="Abreviação em 3 Letras" autocomplete="off">
						<button type="submit" class="btn-submit">Cadastrar</button>
					</form>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./../partials/footer %>
		<script src="/javascripts/scripts/user/main.js"></script>
	</footer>
</html>