<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					<h3>Atualizar Usuário</h3>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./../partials/footer %>
	</footer>
</html>