<div id="product-dropdown-box" class="box a1 container">
	<input type="text" id="product-dropdown-input" name="product_id" data-id="" class="box b1 input-generic lucida-grande bold margin-top-5 center" oninput="productDropdown(this)" placeholder="Nome do produto" onclick="if(this.readOnly){this.value='';this.readOnly = false;}" autocomplete="desligado">
	<ul id="product-dropdown-ul" class="box b1"></ul>
</div>