<div class="box b2-3 container ground border radius-5 padding-5">
  <div class="box b1 underline lucida-grande bold center margin-top-5">Agendamentos</div>
  <div id="timeline-task-box" class="box b1 container"></div>
</div>